fonttools[ufo,lxml,woff,unicode]>=4.31.0
fontFeatures>=1.5.0
fontmake>=3.2.0
pyyaml>=6.0.0
fontbakery>=0.8.7
watchdog>=2.1.6
flask>=2.0.3
skia-pathops==0.7.2
ufo2ft[pathops]==2.26.0
defcon[lxml]==0.6.0
munch==2.5.0
