@font-face {
    font-family: "Nupuram";
    src: url(../fonts/Nupuram/webfonts/Nupuram-VF.woff2) format("woff2-variations"),
      url(../fonts/Nupuram/otf-variable/Nupuram-VF.otf) format("opentype-variations"),
      url(../fonts/Nupuram/otf/Nupuram-Regular.otf) format("opentype");
    font-weight: 100 900;
    font-stretch: 75% 125%;
    font-style: oblique 0deg 15deg;
}

@font-face {
    font-family: "NupuramCalligraphy";
    src: url(../fonts/Nupuram-Calligraphy/webfonts/Nupuram-Calligraphy-VF.woff2) format("woff2-variations"),
      url(../fonts/Nupuram-Calligraphy/otf-variable/Nupuram-Calligraphy-VF.otf) format("opentype-variations");
    font-weight: 100 900;
}

@font-face {
    font-family: "NupuramColor";
    src: url(../fonts/Nupuram-Color/webfonts/Nupuram-Color.colrv1.woff2) format("woff2-variations"),
        url(../fonts/Nupuram-Color/otf-color/Nupuram-Color.colrv1.otf) format("opentype-variations");
    font-weight: 100 900;
}

@font-face {
    font-family: "NupuramArrowsColor";
    src: url(../fonts/Nupuram-Arrows-Color/webfonts/Nupuram-Arrows-Color.colrv1.woff2) format("woff2"),
        url(../fonts/Nupuram-Arrows-Color/otf-color/Nupuram-Arrows-Color.colrv1.otf) format("opentype");
}

@font-face {
    font-family: "NupuramDots";
    src: url(../fonts/Nupuram-Dots/webfonts/Nupuram-Dots.woff2) format("woff2"),
      url(../fonts/Nupuram-Dots/otf/Nupuram-Dots.otf) format("opentype");

}

@font-face {
    font-family: "NupuramDisplay";
    src: url(../fonts/Nupuram-Display/webfonts/Nupuram-Display.woff2) format("woff2"),
      url(../fonts/Nupuram-Display/otf/Nupuram-Display.otf) format("opentype");
}
