@font-face {
  font-family: "Seventy";
  src: url(../fonts/webfonts/Seventy-Regular.woff2?v=1.100) format("woff2"), url(../fonts/otf/Seventy-Regular.otf?v=1.100) format("opentype");
  font-weight: 400;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+0D01-0D7F, U+200C- U+200D, U+25CC;
}

@font-face {
  font-family: "SeventyOutline";
  src: url(../fonts/webfonts/Seventy-Outline.woff2?v=1.100) format("woff2"), url(../fonts/otf/Seventy-Outline.otf?v=1.100) format("opentype");
  font-weight: 400;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+0D01-0D7F, U+200C- U+200D, U+25CC;
}

@font-face {
  font-family: "SeventyShadow";
  src: url(../fonts/webfonts/Seventy-Shadow.woff2?v=1.100) format("woff2"), url(../fonts/otf/Seventy-Shadow.otf?v=1.100) format("opentype");
  font-weight: 400;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+0D01-0D7F, U+200C- U+200D, U+25CC;
}

@font-face {
  font-family: "SeventyColor";
  src: url(../fonts/webfonts/Seventy-Color-v1.woff2?v=1.100) format("woff2"), url(../fonts/webfonts/Seventy-Color-v0.woff2?v=1.100) format("woff2");
  font-weight: 400;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+0D01-0D7F, U+200C- U+200D, U+25CC;
}

body {
  font-size: 100%;
  color: #214761;
  background-color: #f5f5dc;
  line-height: 1.2;
}

main {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 20rem;
  overflow: auto;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "Seventy", sans;
  line-height: 1.2;
  padding: 0.5em;
  outline: none;
}

.content.color {
  font-family: "SeventyColor", sans;
  font-palette: --custom;
}

.content.shadow {
  font-family: "SeventyShadow", sans;
}

.content.outline {
  font-family: "SeventyOutline", sans;
}

.tools {
  display: flex;
  flex-direction: column;
  font-family: sans;
  overflow: auto;
  font-size: 0.75em;
  color: #214761;
  position: absolute;
  right: 1em;
}

.controls {
  margin: 0;
  padding: 0;
  background: inherit;
}

.controls.testcontent li {
  cursor: pointer;
  text-align: left;
  padding: 0 5px 0 0;
}

.controls.align {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.controls.align li {
  width: 1.2em;
  height: 1.2em;
  cursor: pointer;
  margin-right: 1em;
}

footer {
  height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8px;
  color: white;
}

.outline-text {
  color: orange;
  line-height: 1.5;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

.rows {
  display: grid;
  column-gap: 1px;
  row-gap: 1em;
  margin: 1em;
  align-items: center;
}

.rows > div {
  display: contents;
  margin-bottom: 1em;
}

.rows-2 {
  grid-template-columns: 2fr 5fr;
}

.rows-3 {
  grid-template-columns: auto 1fr auto;
}

.rows-1 {
  grid-template-columns: auto;
}

.val-input {
  width: 3rem;
  padding: 0;
  margin: 0;
}

#font-version:empty {
  display: none;
}

.blurry {
  filter: blur(2px);
  opacity: 0.9;
}

.grid {
  background-image: linear-gradient(
      transparent 11px,
      rgba(220, 220, 200, 0.8) 12px,
      transparent 12px
    ),
    linear-gradient(
      90deg,
      transparent 11px,
      rgba(220, 220, 200, 0.8) 12px,
      transparent 12px
    );
  background-size: 100% 12px, 12px 100%;
}

input[type="range"] {
  height: 2px;
}

input[type="color"] {
  width: 2em;
  border: none;
}

.font-color {
  border-radius: 9px;
  width: 18px;
  border: 1px solid black;
}

label {
  white-space: nowrap;
}
