@import url(../../tests/fonts.css);

:root {
  --inside-margin: 0.75in;
  --outside-margin: 0.5in;
  --text-color: #23241f;
  --body-background-color: lightgray;
  --border-color: #9e9e9e;
  --footer-color: #666;
  --title-color: #e65100;
  --page-width: 1123px; /* A4 size 96dpi*/
  --page-height: 794px; /* A4 size 96dpi*/
  --page-margin: 48px;
}

.nupuram {
  font-family: "Nupuram";
}

.nupuramcolor {
  font-family: "NupuramColor";
}

.nupuramcalligraphy {
  font-family: "NupuramCalligraphy";
}

.nupuramdots {
  font-family: "NupuramDots";
}

.nupuramarrows {
  font-family: "NupuramArrowsColor";
}

body {
  hyphens: auto;
  -webkit-hyphenate-character: "";
  hyphenate-character: "";
  font-family: "Lato";
  font-size: 100%;
  background-color: var(--body-background-color);
  color: var(--text-color);
  line-height: 1.2;
  margin: auto;
  width: var(--page-width);
}

main {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  overflow: hidden;
  height: 100%;
  justify-items: start;
}

.page {
  background-color: #fff;
  width: var(--page-width); /* A4 size in 96dpi*/
  height: var(--page-height);
  margin: 16px 0;

  display: grid;
  grid-template-rows: 90% 10%;
  grid-template-columns: 1fr;
  align-content: space-between;
}

.page > main {
  padding: var(--page-margin);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  overflow: hidden;
  align-items: start;
}

.page > footer {
  border-top: 1px solid var(--border-color);
  padding-top: 0.05in;
  grid-column: span 4;
  margin: 0 var(--page-margin);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: stretch;
}

.footer-typename {
  text-align: center;
}

.footer-site {
  text-align: end;
}

.page .meta {
  text-align: start;
}

.meta-title {
  text-align: start;
  font-weight: 700;
  line-height: 1em;
  font-size: 12pt;
  color: var(--title-color);
}

.meta-desc {
  text-align: start;
  font-weight: 400;
  line-height: 1.25;
  font-size: 12pt;
  color: var(--title-color);
}

.color-bg-blue {
  background-color: #01579b;
  color: #fff;
}

.color-bg-green {
  background-color: #1b5e20;
  color: #fff;
}

.color-bg-lime {
  background-color: #827717;
  color: #fff;
}

.color-bg-dark {
  background-color: #23241f;
  color: #fff;
}


.color-bg-brown {
  background-color: #3e2723;
  color: #fff;
}



.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-thin {
  font-weight: 100;
}

.text-extralight {
  font-weight: 200;
}

.text-light {
  font-weight: 300;
}

.text-regular {
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

.text-semibold {
  font-weight: 700;
}

.text-black {
  font-weight: 900;
}

.text-bold {
  font-weight: 700;
}

.text-extrabold {
  font-weight: 800;
}

.text-slanted {
  font-variation-settings: "slnt" -15;
}

.text-body {
  font-size: 12pt;

  line-height: 1.5;
}
.text-14 {
  font-size: 14pt;
  line-height: 1.5;
}

.text-16 {
  font-size: 16pt;
  line-height: 1.5;
}

.text-20 {
  font-size: 20pt;
  line-height: 1.5;
}

.text-24 {
  font-size: 24pt;
  line-height: 1.5;
}

.text-36 {
  font-size: 36pt;
  line-height: 1.5;
}

.text-48 {
  font-size: 48pt;
  line-height: 1.5;
}

.text-72 {
  font-size: 72pt;
  line-height: 1.5;
}

.text-96 {
  font-size: 96pt;
  line-height: 1.5;
}

.text-128 {
  font-size: 128pt;
  line-height: 1.5;
}

.text-144 {
  font-size: 144pt;
  line-height: 1;
}

.text-180 {
  font-size: 180pt;
  line-height: 1.5;
}

.nowrap {
  white-space: nowrap;
}

p {
  margin: 0;
  text-align: start;
  text-justify: inter-word;
}

.text-justify {
  text-align: justify;
}

p:first-child {
  text-indent: 0;
}

p + p {
  margin-top: 0.75em;
}

p + .meta-desc {
  margin-top: 0.75em;
}

.col-1 {
  grid-column: span 1;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.col-4 {
  grid-column: span 4;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.languages {
  column-count: 8;
  font-size: 8pt;
  column-gap: 41px;
}
