@page {

  size: A4 landscape;
  counter-increment: page_num;

  @bottom-center {
    font-family: "Lato";
    font-weight: 300;
    content: counter(page_num);
    font-size: 9pt;
    position: relative;
    /* margin-top: -0.35in; */
  }
}


@media print {
  /* All your print styles go here */
  .page {
    margin: 0;
    page-break-after: always;
  }
  .page > main {
    overflow: hidden;
  }
}
