<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>.notdef</key>
		<string>_notdef.glif</string>
		<key>.null</key>
		<string>_null.glif</string>
		<key>A</key>
		<string>A_.glif</string>
		<key>AE</key>
		<string>A_E_.glif</string>
		<key>AEacute</key>
		<string>A_E_acute.glif</string>
		<key>Aacute</key>
		<string>A_acute.glif</string>
		<key>Acircumflex</key>
		<string>A_circumflex.glif</string>
		<key>Adieresis</key>
		<string>A_dieresis.glif</string>
		<key>Agrave</key>
		<string>A_grave.glif</string>
		<key>Amacron</key>
		<string>A_macron.glif</string>
		<key>Aring</key>
		<string>A_ring.glif</string>
		<key>Atilde</key>
		<string>A_tilde.glif</string>
		<key>B</key>
		<string>B_.glif</string>
		<key>C</key>
		<string>C_.glif</string>
		<key>Cacute</key>
		<string>C_acute.glif</string>
		<key>Ccaron</key>
		<string>C_caron.glif</string>
		<key>Ccedilla</key>
		<string>C_cedilla.glif</string>
		<key>Ccircumflex</key>
		<string>C_circumflex.glif</string>
		<key>Cdotaccent</key>
		<string>C_dotaccent.glif</string>
		<key>D</key>
		<string>D_.glif</string>
		<key>Dcaron</key>
		<string>D_caron.glif</string>
		<key>Dot_Reph</key>
		<string>D_ot_R_eph.glif</string>
		<key>Dotless_i</key>
		<string>D_otless_i.glif</string>
		<key>E</key>
		<string>E_.glif</string>
		<key>Eacute</key>
		<string>E_acute.glif</string>
		<key>Ecaron</key>
		<string>E_caron.glif</string>
		<key>Ecircumflex</key>
		<string>E_circumflex.glif</string>
		<key>Edieresis</key>
		<string>E_dieresis.glif</string>
		<key>Edotaccent</key>
		<string>E_dotaccent.glif</string>
		<key>Egrave</key>
		<string>E_grave.glif</string>
		<key>Emacron</key>
		<string>E_macron.glif</string>
		<key>Eth</key>
		<string>E_th.glif</string>
		<key>F</key>
		<string>F_.glif</string>
		<key>G</key>
		<string>G_.glif</string>
		<key>Gcircumflex</key>
		<string>G_circumflex.glif</string>
		<key>Gdotaccent</key>
		<string>G_dotaccent.glif</string>
		<key>H</key>
		<string>H_.glif</string>
		<key>Hcircumflex</key>
		<string>H_circumflex.glif</string>
		<key>I</key>
		<string>I_.glif</string>
		<key>Iacute</key>
		<string>I_acute.glif</string>
		<key>Icircumflex</key>
		<string>I_circumflex.glif</string>
		<key>Idieresis</key>
		<string>I_dieresis.glif</string>
		<key>Igrave</key>
		<string>I_grave.glif</string>
		<key>Imacron</key>
		<string>I_macron.glif</string>
		<key>Itilde</key>
		<string>I_tilde.glif</string>
		<key>J</key>
		<string>J_.glif</string>
		<key>K</key>
		<string>K_.glif</string>
		<key>L</key>
		<string>L_.glif</string>
		<key>M</key>
		<string>M_.glif</string>
		<key>N</key>
		<string>N_.glif</string>
		<key>Nacute</key>
		<string>N_acute.glif</string>
		<key>Ncaron</key>
		<string>N_caron.glif</string>
		<key>Ntilde</key>
		<string>N_tilde.glif</string>
		<key>O</key>
		<string>O_.glif</string>
		<key>OE_capital</key>
		<string>O_E__capital.glif</string>
		<key>Oacute</key>
		<string>O_acute.glif</string>
		<key>Ocircumflex</key>
		<string>O_circumflex.glif</string>
		<key>Odieresis</key>
		<string>O_dieresis.glif</string>
		<key>Ograve</key>
		<string>O_grave.glif</string>
		<key>Omacron</key>
		<string>O_macron.glif</string>
		<key>Oslash</key>
		<string>O_slash.glif</string>
		<key>Otilde</key>
		<string>O_tilde.glif</string>
		<key>P</key>
		<string>P_.glif</string>
		<key>Q</key>
		<string>Q_.glif</string>
		<key>R</key>
		<string>R_.glif</string>
		<key>Racute</key>
		<string>R_acute.glif</string>
		<key>Rcaron</key>
		<string>R_caron.glif</string>
		<key>S</key>
		<string>S_.glif</string>
		<key>Sacute</key>
		<string>S_acute.glif</string>
		<key>Scaron</key>
		<string>S_caron.glif</string>
		<key>Scedilla</key>
		<string>S_cedilla.glif</string>
		<key>Scircumflex</key>
		<string>S_circumflex.glif</string>
		<key>T</key>
		<string>T_.glif</string>
		<key>Thorn_capital</key>
		<string>T_horn_capital.glif</string>
		<key>U</key>
		<string>U_.glif</string>
		<key>Uacute</key>
		<string>U_acute.glif</string>
		<key>Ucaron</key>
		<string>U_caron.glif</string>
		<key>Ucircumflex</key>
		<string>U_circumflex.glif</string>
		<key>Udieresis</key>
		<string>U_dieresis.glif</string>
		<key>Ugrave</key>
		<string>U_grave.glif</string>
		<key>Umacron</key>
		<string>U_macron.glif</string>
		<key>Uring</key>
		<string>U_ring.glif</string>
		<key>Utilde</key>
		<string>U_tilde.glif</string>
		<key>V</key>
		<string>V_.glif</string>
		<key>W</key>
		<string>W_.glif</string>
		<key>Wcircumflex</key>
		<string>W_circumflex.glif</string>
		<key>X</key>
		<string>X_.glif</string>
		<key>Y</key>
		<string>Y_.glif</string>
		<key>Yacute</key>
		<string>Y_acute.glif</string>
		<key>Ycircumflex</key>
		<string>Y_circumflex.glif</string>
		<key>Z</key>
		<string>Z_.glif</string>
		<key>Zcaron</key>
		<string>Z_caron.glif</string>
		<key>Zdotaccent</key>
		<string>Z_dotaccent.glif</string>
		<key>a</key>
		<string>a.glif</string>
		<key>aacute</key>
		<string>aacute.glif</string>
		<key>acircumflex</key>
		<string>acircumflex.glif</string>
		<key>acute</key>
		<string>acute.glif</string>
		<key>adieresis</key>
		<string>adieresis.glif</string>
		<key>ae</key>
		<string>ae.glif</string>
		<key>aeacute</key>
		<string>aeacute.glif</string>
		<key>agrave</key>
		<string>agrave.glif</string>
		<key>amacron</key>
		<string>amacron.glif</string>
		<key>ampersand</key>
		<string>ampersand.glif</string>
		<key>aring</key>
		<string>aring.glif</string>
		<key>asterisk</key>
		<string>asterisk.glif</string>
		<key>at</key>
		<string>at.glif</string>
		<key>atilde</key>
		<string>atilde.glif</string>
		<key>b</key>
		<string>b.glif</string>
		<key>bar</key>
		<string>bar.glif</string>
		<key>braceleft</key>
		<string>braceleft.glif</string>
		<key>bracketleft</key>
		<string>bracketleft.glif</string>
		<key>bullet</key>
		<string>bullet.glif</string>
		<key>c</key>
		<string>c.glif</string>
		<key>cacute</key>
		<string>cacute.glif</string>
		<key>caret</key>
		<string>caret.glif</string>
		<key>caron</key>
		<string>caron.glif</string>
		<key>ccaron</key>
		<string>ccaron.glif</string>
		<key>ccedilla</key>
		<string>ccedilla.glif</string>
		<key>ccircumflex</key>
		<string>ccircumflex.glif</string>
		<key>cdotaccent</key>
		<string>cdotaccent.glif</string>
		<key>cedilla</key>
		<string>cedilla.glif</string>
		<key>colon</key>
		<string>colon.glif</string>
		<key>comma</key>
		<string>comma.glif</string>
		<key>copyright</key>
		<string>copyright.glif</string>
		<key>d</key>
		<string>d.glif</string>
		<key>degree</key>
		<string>degree.glif</string>
		<key>dieresis</key>
		<string>dieresis.glif</string>
		<key>divisionsign</key>
		<string>divisionsign.glif</string>
		<key>dollar</key>
		<string>dollar.glif</string>
		<key>e</key>
		<string>e.glif</string>
		<key>eacute</key>
		<string>eacute.glif</string>
		<key>ecaron</key>
		<string>ecaron.glif</string>
		<key>ecircumflex</key>
		<string>ecircumflex.glif</string>
		<key>edieresis</key>
		<string>edieresis.glif</string>
		<key>edotaccent</key>
		<string>edotaccent.glif</string>
		<key>ee</key>
		<string>ee.glif</string>
		<key>egrave</key>
		<string>egrave.glif</string>
		<key>eight</key>
		<string>eight.glif</string>
		<key>emacron</key>
		<string>emacron.glif</string>
		<key>emdash</key>
		<string>emdash.glif</string>
		<key>endash</key>
		<string>endash.glif</string>
		<key>equal</key>
		<string>equal.glif</string>
		<key>eth</key>
		<string>eth.glif</string>
		<key>euro</key>
		<string>euro.glif</string>
		<key>exclam</key>
		<string>exclam.glif</string>
		<key>f</key>
		<string>f.glif</string>
		<key>ff</key>
		<string>ff.glif</string>
		<key>ffi</key>
		<string>ffi.glif</string>
		<key>fi</key>
		<string>fi.glif</string>
		<key>five</key>
		<string>five.glif</string>
		<key>four</key>
		<string>four.glif</string>
		<key>ft</key>
		<string>ft.glif</string>
		<key>g</key>
		<string>g.glif</string>
		<key>gcircumflex</key>
		<string>gcircumflex.glif</string>
		<key>gdotaccent</key>
		<string>gdotaccent.glif</string>
		<key>germandbls</key>
		<string>germandbls.glif</string>
		<key>grave</key>
		<string>grave.glif</string>
		<key>h</key>
		<string>h.glif</string>
		<key>hcircumflex</key>
		<string>hcircumflex.glif</string>
		<key>i</key>
		<string>i.glif</string>
		<key>iacute</key>
		<string>iacute.glif</string>
		<key>icircumflex</key>
		<string>icircumflex.glif</string>
		<key>idieresis</key>
		<string>idieresis.glif</string>
		<key>igrave</key>
		<string>igrave.glif</string>
		<key>imacron</key>
		<string>imacron.glif</string>
		<key>itilde</key>
		<string>itilde.glif</string>
		<key>j</key>
		<string>j.glif</string>
		<key>k</key>
		<string>k.glif</string>
		<key>l</key>
		<string>l.glif</string>
		<key>less</key>
		<string>less.glif</string>
		<key>m</key>
		<string>m.glif</string>
		<key>macron</key>
		<string>macron.glif</string>
		<key>ml_a</key>
		<string>ml_a.glif</string>
		<key>ml_aa</key>
		<string>ml_aa.glif</string>
		<key>ml_aa_sign</key>
		<string>ml_aa_sign.glif</string>
		<key>ml_ai</key>
		<string>ml_ai.glif</string>
		<key>ml_ai_sign</key>
		<string>ml_ai_sign.glif</string>
		<key>ml_anuswaram</key>
		<string>ml_anuswaram.glif</string>
		<key>ml_au</key>
		<string>ml_au.glif</string>
		<key>ml_au_sign</key>
		<string>ml_au_sign.glif</string>
		<key>ml_b</key>
		<string>ml_b.glif</string>
		<key>ml_b_u_sign</key>
		<string>ml_b_u_sign.glif</string>
		<key>ml_b_uu_sign</key>
		<string>ml_b_uu_sign.glif</string>
		<key>ml_b_virama_dh</key>
		<string>ml_b_virama_dh.glif</string>
		<key>ml_b_virama_l</key>
		<string>ml_b_virama_l.glif</string>
		<key>ml_b_virama_l_u_sign</key>
		<string>ml_b_virama_l_u_sign.glif</string>
		<key>ml_b_virama_l_uu_sign</key>
		<string>ml_b_virama_l_uu_sign.glif</string>
		<key>ml_b_virama_r</key>
		<string>ml_b_virama_r.glif</string>
		<key>ml_b_virama_r_u_sign</key>
		<string>ml_b_virama_r_u_sign.glif</string>
		<key>ml_b_virama_r_uu_sign</key>
		<string>ml_b_virama_r_uu_sign.glif</string>
		<key>ml_bh</key>
		<string>ml_bh.glif</string>
		<key>ml_bh_ru_sign</key>
		<string>ml_bh_ru_sign.glif</string>
		<key>ml_bh_u_sign</key>
		<string>ml_bh_u_sign.glif</string>
		<key>ml_bh_uu_sign</key>
		<string>ml_bh_uu_sign.glif</string>
		<key>ml_bh_virama_r</key>
		<string>ml_bh_virama_r.glif</string>
		<key>ml_ch</key>
		<string>ml_ch.glif</string>
		<key>ml_ch_u_sign</key>
		<string>ml_ch_u_sign.glif</string>
		<key>ml_ch_uu_sign</key>
		<string>ml_ch_uu_sign.glif</string>
		<key>ml_ch_virama_ch</key>
		<string>ml_ch_virama_ch.glif</string>
		<key>ml_ch_virama_ch_u_sign</key>
		<string>ml_ch_virama_ch_u_sign.glif</string>
		<key>ml_ch_virama_ch_uu_sign</key>
		<string>ml_ch_virama_ch_uu_sign.glif</string>
		<key>ml_ch_virama_chh</key>
		<string>ml_ch_virama_chh.glif</string>
		<key>ml_ch_virama_chh_u_sign</key>
		<string>ml_ch_virama_chh_u_sign.glif</string>
		<key>ml_ch_virama_chh_uu_sign</key>
		<string>ml_ch_virama_chh_uu_sign.glif</string>
		<key>ml_chh</key>
		<string>ml_chh.glif</string>
		<key>ml_chh_ru_sign</key>
		<string>ml_chh_ru_sign.glif</string>
		<key>ml_chh_u_sign</key>
		<string>ml_chh_u_sign.glif</string>
		<key>ml_chh_uu_sign</key>
		<string>ml_chh_uu_sign.glif</string>
		<key>ml_chh_virama_r</key>
		<string>ml_chh_virama_r.glif</string>
		<key>ml_chillu_k</key>
		<string>ml_chillu_k.glif</string>
		<key>ml_chillu_l</key>
		<string>ml_chillu_l.glif</string>
		<key>ml_chillu_lh</key>
		<string>ml_chillu_lh.glif</string>
		<key>ml_chillu_n</key>
		<string>ml_chillu_n.glif</string>
		<key>ml_chillu_nh</key>
		<string>ml_chillu_nh.glif</string>
		<key>ml_chillu_r</key>
		<string>ml_chillu_r.glif</string>
		<key>ml_chillu_zh</key>
		<string>ml_chillu_zh.glif</string>
		<key>ml_d</key>
		<string>ml_d.glif</string>
		<key>ml_d_ru_sign</key>
		<string>ml_d_ru_sign.glif</string>
		<key>ml_d_u_sign</key>
		<string>ml_d_u_sign.glif</string>
		<key>ml_d_uu_sign</key>
		<string>ml_d_uu_sign.glif</string>
		<key>ml_d_virama_r</key>
		<string>ml_d_virama_r.glif</string>
		<key>ml_d_virama_r_u_sign</key>
		<string>ml_d_virama_r_u_sign.glif</string>
		<key>ml_d_virama_r_uu_sign</key>
		<string>ml_d_virama_r_uu_sign.glif</string>
		<key>ml_ddh</key>
		<string>ml_ddh.glif</string>
		<key>ml_ddh_ru_sign</key>
		<string>ml_ddh_ru_sign.glif</string>
		<key>ml_ddh_u_sign</key>
		<string>ml_ddh_u_sign.glif</string>
		<key>ml_ddh_uu_sign</key>
		<string>ml_ddh_uu_sign.glif</string>
		<key>ml_ddh_virama_r</key>
		<string>ml_ddh_virama_r.glif</string>
		<key>ml_dh</key>
		<string>ml_dh.glif</string>
		<key>ml_dh___s_m_a_l_l</key>
		<string>ml_dh___s_m_a_l_l.glif</string>
		<key>ml_dh_ru_sign</key>
		<string>ml_dh_ru_sign.glif</string>
		<key>ml_dh_u_sign</key>
		<string>ml_dh_u_sign.glif</string>
		<key>ml_dh_uu_sign</key>
		<string>ml_dh_uu_sign.glif</string>
		<key>ml_dh_virama_ddh</key>
		<string>ml_dh_virama_ddh.glif</string>
		<key>ml_dh_virama_dh</key>
		<string>ml_dh_virama_dh.glif</string>
		<key>ml_dh_virama_dh_u_sign</key>
		<string>ml_dh_virama_dh_u_sign.glif</string>
		<key>ml_dh_virama_dh_uu_sign</key>
		<string>ml_dh_virama_dh_uu_sign.glif</string>
		<key>ml_dh_virama_r</key>
		<string>ml_dh_virama_r.glif</string>
		<key>ml_dh_virama_r_u_sign</key>
		<string>ml_dh_virama_r_u_sign.glif</string>
		<key>ml_dh_virama_r_uu_sign</key>
		<string>ml_dh_virama_r_uu_sign.glif</string>
		<key>ml_e</key>
		<string>ml_e.glif</string>
		<key>ml_e_sign</key>
		<string>ml_e_sign.glif</string>
		<key>ml_ee</key>
		<string>ml_ee.glif</string>
		<key>ml_ee_sign</key>
		<string>ml_ee_sign.glif</string>
		<key>ml_g</key>
		<string>ml_g.glif</string>
		<key>ml_g_ru_sign</key>
		<string>ml_g_ru_sign.glif</string>
		<key>ml_g_u_sign</key>
		<string>ml_g_u_sign.glif</string>
		<key>ml_g_uu_sign</key>
		<string>ml_g_uu_sign.glif</string>
		<key>ml_g_virama_dh</key>
		<string>ml_g_virama_dh.glif</string>
		<key>ml_g_virama_dh_ru_sign</key>
		<string>ml_g_virama_dh_ru_sign.glif</string>
		<key>ml_g_virama_dh_u_sign</key>
		<string>ml_g_virama_dh_u_sign.glif</string>
		<key>ml_g_virama_dh_uu_sign</key>
		<string>ml_g_virama_dh_uu_sign.glif</string>
		<key>ml_g_virama_dh_virama_ddh</key>
		<string>ml_g_virama_dh_virama_ddh.glif</string>
		<key>ml_g_virama_g</key>
		<string>ml_g_virama_g.glif</string>
		<key>ml_g_virama_g_u_sign</key>
		<string>ml_g_virama_g_u_sign.glif</string>
		<key>ml_g_virama_g_uu_sign</key>
		<string>ml_g_virama_g_uu_sign.glif</string>
		<key>ml_g_virama_l</key>
		<string>ml_g_virama_l.glif</string>
		<key>ml_g_virama_l_u_sign</key>
		<string>ml_g_virama_l_u_sign.glif</string>
		<key>ml_g_virama_l_uu_sign</key>
		<string>ml_g_virama_l_uu_sign.glif</string>
		<key>ml_g_virama_m</key>
		<string>ml_g_virama_m.glif</string>
		<key>ml_g_virama_m_u_sign</key>
		<string>ml_g_virama_m_u_sign.glif</string>
		<key>ml_g_virama_m_uu_sign</key>
		<string>ml_g_virama_m_uu_sign.glif</string>
		<key>ml_g_virama_n</key>
		<string>ml_g_virama_n.glif</string>
		<key>ml_g_virama_n_u_sign</key>
		<string>ml_g_virama_n_u_sign.glif</string>
		<key>ml_g_virama_n_uu_sign</key>
		<string>ml_g_virama_n_uu_sign.glif</string>
		<key>ml_g_virama_r</key>
		<string>ml_g_virama_r.glif</string>
		<key>ml_g_virama_r_u_sign</key>
		<string>ml_g_virama_r_u_sign.glif</string>
		<key>ml_g_virama_r_uu_sign</key>
		<string>ml_g_virama_r_uu_sign.glif</string>
		<key>ml_gh</key>
		<string>ml_gh.glif</string>
		<key>ml_gh_u_sign</key>
		<string>ml_gh_u_sign.glif</string>
		<key>ml_gh_uu_sign</key>
		<string>ml_gh_uu_sign.glif</string>
		<key>ml_gh_virama_r</key>
		<string>ml_gh_virama_r.glif</string>
		<key>ml_gh_virama_r_u_sign</key>
		<string>ml_gh_virama_r_u_sign.glif</string>
		<key>ml_gh_virama_r_uu_sign</key>
		<string>ml_gh_virama_r_uu_sign.glif</string>
		<key>ml_h</key>
		<string>ml_h.glif</string>
		<key>ml_h_ru_sign</key>
		<string>ml_h_ru_sign.glif</string>
		<key>ml_h_u_sign</key>
		<string>ml_h_u_sign.glif</string>
		<key>ml_h_uu_sign</key>
		<string>ml_h_uu_sign.glif</string>
		<key>ml_h_virama_l</key>
		<string>ml_h_virama_l.glif</string>
		<key>ml_h_virama_l_u_sign</key>
		<string>ml_h_virama_l_u_sign.glif</string>
		<key>ml_h_virama_l_uu_sign</key>
		<string>ml_h_virama_l_uu_sign.glif</string>
		<key>ml_h_virama_m</key>
		<string>ml_h_virama_m.glif</string>
		<key>ml_h_virama_m_u_sign</key>
		<string>ml_h_virama_m_u_sign.glif</string>
		<key>ml_h_virama_m_uu_sign</key>
		<string>ml_h_virama_m_uu_sign.glif</string>
		<key>ml_h_virama_n</key>
		<string>ml_h_virama_n.glif</string>
		<key>ml_h_virama_n_u_sign</key>
		<string>ml_h_virama_n_u_sign.glif</string>
		<key>ml_h_virama_n_uu_sign</key>
		<string>ml_h_virama_n_uu_sign.glif</string>
		<key>ml_h_virama_r</key>
		<string>ml_h_virama_r.glif</string>
		<key>ml_h_virama_r_u_sign</key>
		<string>ml_h_virama_r_u_sign.glif</string>
		<key>ml_h_virama_r_uu_sign</key>
		<string>ml_h_virama_r_uu_sign.glif</string>
		<key>ml_i</key>
		<string>ml_i.glif</string>
		<key>ml_i_sign</key>
		<string>ml_i_sign.glif</string>
		<key>ml_ii</key>
		<string>ml_ii.glif</string>
		<key>ml_ii_sign</key>
		<string>ml_ii_sign.glif</string>
		<key>ml_j</key>
		<string>ml_j.glif</string>
		<key>ml_j_ru_sign</key>
		<string>ml_j_ru_sign.glif</string>
		<key>ml_j_u_sign</key>
		<string>ml_j_u_sign.glif</string>
		<key>ml_j_uu_sign</key>
		<string>ml_j_uu_sign.glif</string>
		<key>ml_j_virama_j</key>
		<string>ml_j_virama_j.glif</string>
		<key>ml_j_virama_j_ru_sign</key>
		<string>ml_j_virama_j_ru_sign.glif</string>
		<key>ml_j_virama_j_u_sign</key>
		<string>ml_j_virama_j_u_sign.glif</string>
		<key>ml_j_virama_j_uu_sign</key>
		<string>ml_j_virama_j_uu_sign.glif</string>
		<key>ml_j_virama_nj</key>
		<string>ml_j_virama_nj.glif</string>
		<key>ml_j_virama_r</key>
		<string>ml_j_virama_r.glif</string>
		<key>ml_j_virama_r_u_sign</key>
		<string>ml_j_virama_r_u_sign.glif</string>
		<key>ml_j_virama_r_uu_sign</key>
		<string>ml_j_virama_r_uu_sign.glif</string>
		<key>ml_jhh</key>
		<string>ml_jhh.glif</string>
		<key>ml_jhh_ru_sign</key>
		<string>ml_jhh_ru_sign.glif</string>
		<key>ml_jhh_u_sign</key>
		<string>ml_jhh_u_sign.glif</string>
		<key>ml_jhh_uu_sign</key>
		<string>ml_jhh_uu_sign.glif</string>
		<key>ml_k</key>
		<string>ml_k.glif</string>
		<key>ml_k_lu_sign</key>
		<string>ml_k_lu_sign.glif</string>
		<key>ml_k_lu_sign_u_sign</key>
		<string>ml_k_lu_sign_u_sign.glif</string>
		<key>ml_k_lu_sign_uu_sign</key>
		<string>ml_k_lu_sign_uu_sign.glif</string>
		<key>ml_k_ru_sign</key>
		<string>ml_k_ru_sign.glif</string>
		<key>ml_k_u_sign</key>
		<string>ml_k_u_sign.glif</string>
		<key>ml_k_uu_sign</key>
		<string>ml_k_uu_sign.glif</string>
		<key>ml_k_virama_k</key>
		<string>ml_k_virama_k.glif</string>
		<key>ml_k_virama_k_ru_sign</key>
		<string>ml_k_virama_k_ru_sign.glif</string>
		<key>ml_k_virama_k_u_sign</key>
		<string>ml_k_virama_k_u_sign.glif</string>
		<key>ml_k_virama_k_uu_sign</key>
		<string>ml_k_virama_k_uu_sign.glif</string>
		<key>ml_k_virama_k_virama_r</key>
		<string>ml_k_virama_k_virama_r.glif</string>
		<key>ml_k_virama_k_virama_r_u_sign</key>
		<string>ml_k_virama_k_virama_r_u_sign.glif</string>
		<key>ml_k_virama_k_virama_r_uu_sign</key>
		<string>ml_k_virama_k_virama_r_uu_sign.glif</string>
		<key>ml_k_virama_l</key>
		<string>ml_k_virama_l.glif</string>
		<key>ml_k_virama_l_u_sign</key>
		<string>ml_k_virama_l_u_sign.glif</string>
		<key>ml_k_virama_l_uu_sign</key>
		<string>ml_k_virama_l_uu_sign.glif</string>
		<key>ml_k_virama_r</key>
		<string>ml_k_virama_r.glif</string>
		<key>ml_k_virama_r_u_sign</key>
		<string>ml_k_virama_r_u_sign.glif</string>
		<key>ml_k_virama_r_uu_sign</key>
		<string>ml_k_virama_r_uu_sign.glif</string>
		<key>ml_k_virama_sh</key>
		<string>ml_k_virama_sh.glif</string>
		<key>ml_k_virama_sh_u_sign</key>
		<string>ml_k_virama_sh_u_sign.glif</string>
		<key>ml_k_virama_sh_uu_sign</key>
		<string>ml_k_virama_sh_uu_sign.glif</string>
		<key>ml_k_virama_th</key>
		<string>ml_k_virama_th.glif</string>
		<key>ml_k_virama_th_ru_sign</key>
		<string>ml_k_virama_th_ru_sign.glif</string>
		<key>ml_k_virama_th_u_sign</key>
		<string>ml_k_virama_th_u_sign.glif</string>
		<key>ml_k_virama_th_uu_sign</key>
		<string>ml_k_virama_th_uu_sign.glif</string>
		<key>ml_k_virama_th_virama_r</key>
		<string>ml_k_virama_th_virama_r.glif</string>
		<key>ml_k_virama_th_virama_r_u_sign</key>
		<string>ml_k_virama_th_virama_r_u_sign.glif</string>
		<key>ml_k_virama_th_virama_r_uu_sign</key>
		<string>ml_k_virama_th_virama_r_uu_sign.glif</string>
		<key>ml_kh</key>
		<string>ml_kh.glif</string>
		<key>ml_kh_ru_sign</key>
		<string>ml_kh_ru_sign.glif</string>
		<key>ml_kh_u_sign</key>
		<string>ml_kh_u_sign.glif</string>
		<key>ml_kh_uu_sign</key>
		<string>ml_kh_uu_sign.glif</string>
		<key>ml_l</key>
		<string>ml_l.glif</string>
		<key>ml_l_u_sign</key>
		<string>ml_l_u_sign.glif</string>
		<key>ml_l_uu_sign</key>
		<string>ml_l_uu_sign.glif</string>
		<key>ml_l_virama_l</key>
		<string>ml_l_virama_l.glif</string>
		<key>ml_l_virama_l_u_sign</key>
		<string>ml_l_virama_l_u_sign.glif</string>
		<key>ml_l_virama_l_uu_sign</key>
		<string>ml_l_virama_l_uu_sign.glif</string>
		<key>ml_l_virama_p</key>
		<string>ml_l_virama_p.glif</string>
		<key>ml_lh</key>
		<string>ml_lh.glif</string>
		<key>ml_lh_u_sign</key>
		<string>ml_lh_u_sign.glif</string>
		<key>ml_lh_uu_sign</key>
		<string>ml_lh_uu_sign.glif</string>
		<key>ml_lh_virama_lh</key>
		<string>ml_lh_virama_lh.glif</string>
		<key>ml_lh_virama_lh_u_sign</key>
		<string>ml_lh_virama_lh_u_sign.glif</string>
		<key>ml_lh_virama_lh_uu_sign</key>
		<string>ml_lh_virama_lh_uu_sign.glif</string>
		<key>ml_lu_sign</key>
		<string>ml_lu_sign.glif</string>
		<key>ml_m</key>
		<string>ml_m.glif</string>
		<key>ml_m_ru_sign</key>
		<string>ml_m_ru_sign.glif</string>
		<key>ml_m_u_sign</key>
		<string>ml_m_u_sign.glif</string>
		<key>ml_m_uu_sign</key>
		<string>ml_m_uu_sign.glif</string>
		<key>ml_m_virama_m</key>
		<string>ml_m_virama_m.glif</string>
		<key>ml_m_virama_m_u_sign</key>
		<string>ml_m_virama_m_u_sign.glif</string>
		<key>ml_m_virama_m_uu_sign</key>
		<string>ml_m_virama_m_uu_sign.glif</string>
		<key>ml_m_virama_p</key>
		<string>ml_m_virama_p.glif</string>
		<key>ml_m_virama_p_u_sign</key>
		<string>ml_m_virama_p_u_sign.glif</string>
		<key>ml_m_virama_p_uu_sign</key>
		<string>ml_m_virama_p_uu_sign.glif</string>
		<key>ml_m_virama_p_virama_r</key>
		<string>ml_m_virama_p_virama_r.glif</string>
		<key>ml_m_virama_p_virama_r_u_sign</key>
		<string>ml_m_virama_p_virama_r_u_sign.glif</string>
		<key>ml_m_virama_p_virama_r_uu_sign</key>
		<string>ml_m_virama_p_virama_r_uu_sign.glif</string>
		<key>ml_m_virama_r</key>
		<string>ml_m_virama_r.glif</string>
		<key>ml_m_virama_r_u_sign</key>
		<string>ml_m_virama_r_u_sign.glif</string>
		<key>ml_m_virama_r_uu_sign</key>
		<string>ml_m_virama_r_uu_sign.glif</string>
		<key>ml_n</key>
		<string>ml_n.glif</string>
		<key>ml_n___s_m_a_l_l</key>
		<string>ml_n___s_m_a_l_l.glif</string>
		<key>ml_n_ru_sign</key>
		<string>ml_n_ru_sign.glif</string>
		<key>ml_n_u_sign</key>
		<string>ml_n_u_sign.glif</string>
		<key>ml_n_uu_sign</key>
		<string>ml_n_uu_sign.glif</string>
		<key>ml_n_virama_ddh</key>
		<string>ml_n_virama_ddh.glif</string>
		<key>ml_n_virama_ddh_u_sign</key>
		<string>ml_n_virama_ddh_u_sign.glif</string>
		<key>ml_n_virama_ddh_uu_sign</key>
		<string>ml_n_virama_ddh_uu_sign.glif</string>
		<key>ml_n_virama_ddh_virama_r</key>
		<string>ml_n_virama_ddh_virama_r.glif</string>
		<key>ml_n_virama_ddh_virama_r_u_sign</key>
		<string>ml_n_virama_ddh_virama_r_u_sign.glif</string>
		<key>ml_n_virama_ddh_virama_r_uu_sign</key>
		<string>ml_n_virama_ddh_virama_r_uu_sign.glif</string>
		<key>ml_n_virama_dh</key>
		<string>ml_n_virama_dh.glif</string>
		<key>ml_n_virama_dh_ru_sign</key>
		<string>ml_n_virama_dh_ru_sign.glif</string>
		<key>ml_n_virama_dh_u_sign</key>
		<string>ml_n_virama_dh_u_sign.glif</string>
		<key>ml_n_virama_dh_uu_sign</key>
		<string>ml_n_virama_dh_uu_sign.glif</string>
		<key>ml_n_virama_dh_virama_r</key>
		<string>ml_n_virama_dh_virama_r.glif</string>
		<key>ml_n_virama_dh_virama_r_u_sign</key>
		<string>ml_n_virama_dh_virama_r_u_sign.glif</string>
		<key>ml_n_virama_dh_virama_r_uu_sign</key>
		<string>ml_n_virama_dh_virama_r_uu_sign.glif</string>
		<key>ml_n_virama_m</key>
		<string>ml_n_virama_m.glif</string>
		<key>ml_n_virama_m_u_sign</key>
		<string>ml_n_virama_m_u_sign.glif</string>
		<key>ml_n_virama_m_uu_sign</key>
		<string>ml_n_virama_m_uu_sign.glif</string>
		<key>ml_n_virama_n</key>
		<string>ml_n_virama_n.glif</string>
		<key>ml_n_virama_n_ru_sign</key>
		<string>ml_n_virama_n_ru_sign.glif</string>
		<key>ml_n_virama_n_u_sign</key>
		<string>ml_n_virama_n_u_sign.glif</string>
		<key>ml_n_virama_n_uu_sign</key>
		<string>ml_n_virama_n_uu_sign.glif</string>
		<key>ml_n_virama_rh</key>
		<string>ml_n_virama_rh.glif</string>
		<key>ml_n_virama_rh_-_a_l_t</key>
		<string>ml_n_virama_rh_-_a_l_t.glif</string>
		<key>ml_n_virama_rh_u_sign</key>
		<string>ml_n_virama_rh_u_sign.glif</string>
		<key>ml_n_virama_rh_uu_sign</key>
		<string>ml_n_virama_rh_uu_sign.glif</string>
		<key>ml_n_virama_th</key>
		<string>ml_n_virama_th.glif</string>
		<key>ml_n_virama_th_ru_sign</key>
		<string>ml_n_virama_th_ru_sign.glif</string>
		<key>ml_n_virama_th_u_sign</key>
		<string>ml_n_virama_th_u_sign.glif</string>
		<key>ml_n_virama_th_uu_sign</key>
		<string>ml_n_virama_th_uu_sign.glif</string>
		<key>ml_n_virama_th_virama_r</key>
		<string>ml_n_virama_th_virama_r.glif</string>
		<key>ml_n_virama_th_virama_r_u_sign</key>
		<string>ml_n_virama_th_virama_r_u_sign.glif</string>
		<key>ml_n_virama_th_virama_r_uu_sign</key>
		<string>ml_n_virama_th_virama_r_uu_sign.glif</string>
		<key>ml_n_virama_tth</key>
		<string>ml_n_virama_tth.glif</string>
		<key>ml_ng</key>
		<string>ml_ng.glif</string>
		<key>ml_ng_u_sign</key>
		<string>ml_ng_u_sign.glif</string>
		<key>ml_ng_uu_sign</key>
		<string>ml_ng_uu_sign.glif</string>
		<key>ml_ng_virama_k</key>
		<string>ml_ng_virama_k.glif</string>
		<key>ml_ng_virama_k_ru_sign</key>
		<string>ml_ng_virama_k_ru_sign.glif</string>
		<key>ml_ng_virama_k_u_sign</key>
		<string>ml_ng_virama_k_u_sign.glif</string>
		<key>ml_ng_virama_k_uu_sign</key>
		<string>ml_ng_virama_k_uu_sign.glif</string>
		<key>ml_ng_virama_k_virama_r</key>
		<string>ml_ng_virama_k_virama_r.glif</string>
		<key>ml_ng_virama_k_virama_r_u_sign</key>
		<string>ml_ng_virama_k_virama_r_u_sign.glif</string>
		<key>ml_ng_virama_k_virama_r_uu_sign</key>
		<string>ml_ng_virama_k_virama_r_uu_sign.glif</string>
		<key>ml_ng_virama_ng</key>
		<string>ml_ng_virama_ng.glif</string>
		<key>ml_ng_virama_ng_u_sign</key>
		<string>ml_ng_virama_ng_u_sign.glif</string>
		<key>ml_ng_virama_ng_uu_sign</key>
		<string>ml_ng_virama_ng_uu_sign.glif</string>
		<key>ml_nh</key>
		<string>ml_nh.glif</string>
		<key>ml_nh_u_sign</key>
		<string>ml_nh_u_sign.glif</string>
		<key>ml_nh_uu_sign</key>
		<string>ml_nh_uu_sign.glif</string>
		<key>ml_nh_virama_d</key>
		<string>ml_nh_virama_d.glif</string>
		<key>ml_nh_virama_d_ru_sign</key>
		<string>ml_nh_virama_d_ru_sign.glif</string>
		<key>ml_nh_virama_d_u_sign</key>
		<string>ml_nh_virama_d_u_sign.glif</string>
		<key>ml_nh_virama_d_uu_sign</key>
		<string>ml_nh_virama_d_uu_sign.glif</string>
		<key>ml_nh_virama_d_virama_r</key>
		<string>ml_nh_virama_d_virama_r.glif</string>
		<key>ml_nh_virama_m</key>
		<string>ml_nh_virama_m.glif</string>
		<key>ml_nh_virama_nh</key>
		<string>ml_nh_virama_nh.glif</string>
		<key>ml_nh_virama_nh_u_sign</key>
		<string>ml_nh_virama_nh_u_sign.glif</string>
		<key>ml_nh_virama_nh_uu_sign</key>
		<string>ml_nh_virama_nh_uu_sign.glif</string>
		<key>ml_nh_virama_t</key>
		<string>ml_nh_virama_t.glif</string>
		<key>ml_nh_virama_t_u_sign</key>
		<string>ml_nh_virama_t_u_sign.glif</string>
		<key>ml_nh_virama_t_uu_sign</key>
		<string>ml_nh_virama_t_uu_sign.glif</string>
		<key>ml_nh_virama_t_virama_r</key>
		<string>ml_nh_virama_t_virama_r.glif</string>
		<key>ml_nh_virama_t_virama_r_u_sign</key>
		<string>ml_nh_virama_t_virama_r_u_sign.glif</string>
		<key>ml_nh_virama_t_virama_r_uu_sign</key>
		<string>ml_nh_virama_t_virama_r_uu_sign.glif</string>
		<key>ml_nj</key>
		<string>ml_nj.glif</string>
		<key>ml_nj_u_sign</key>
		<string>ml_nj_u_sign.glif</string>
		<key>ml_nj_uu_sign</key>
		<string>ml_nj_uu_sign.glif</string>
		<key>ml_nj_virama_ch</key>
		<string>ml_nj_virama_ch.glif</string>
		<key>ml_nj_virama_ch_u_sign</key>
		<string>ml_nj_virama_ch_u_sign.glif</string>
		<key>ml_nj_virama_ch_uu_sign</key>
		<string>ml_nj_virama_ch_uu_sign.glif</string>
		<key>ml_nj_virama_j</key>
		<string>ml_nj_virama_j.glif</string>
		<key>ml_nj_virama_j_u_sign</key>
		<string>ml_nj_virama_j_u_sign.glif</string>
		<key>ml_nj_virama_j_uu_sign</key>
		<string>ml_nj_virama_j_uu_sign.glif</string>
		<key>ml_nj_virama_nj</key>
		<string>ml_nj_virama_nj.glif</string>
		<key>ml_nj_virama_nj_u_sign</key>
		<string>ml_nj_virama_nj_u_sign.glif</string>
		<key>ml_nj_virama_nj_uu_sign</key>
		<string>ml_nj_virama_nj_uu_sign.glif</string>
		<key>ml_o</key>
		<string>ml_o.glif</string>
		<key>ml_o_sign</key>
		<string>ml_o_sign.glif</string>
		<key>ml_oo</key>
		<string>ml_oo.glif</string>
		<key>ml_oo_sign</key>
		<string>ml_oo_sign.glif</string>
		<key>ml_ou_sign</key>
		<string>ml_ou_sign.glif</string>
		<key>ml_p</key>
		<string>ml_p.glif</string>
		<key>ml_p_u_sign</key>
		<string>ml_p_u_sign.glif</string>
		<key>ml_p_uu_sign</key>
		<string>ml_p_uu_sign.glif</string>
		<key>ml_p_virama_l</key>
		<string>ml_p_virama_l.glif</string>
		<key>ml_p_virama_l_u_sign</key>
		<string>ml_p_virama_l_u_sign.glif</string>
		<key>ml_p_virama_l_uu_sign</key>
		<string>ml_p_virama_l_uu_sign.glif</string>
		<key>ml_p_virama_p</key>
		<string>ml_p_virama_p.glif</string>
		<key>ml_p_virama_p_u_sign</key>
		<string>ml_p_virama_p_u_sign.glif</string>
		<key>ml_p_virama_p_uu_sign</key>
		<string>ml_p_virama_p_uu_sign.glif</string>
		<key>ml_p_virama_ph</key>
		<string>ml_p_virama_ph.glif</string>
		<key>ml_p_virama_ph_u_sign</key>
		<string>ml_p_virama_ph_u_sign.glif</string>
		<key>ml_p_virama_ph_uu_sign</key>
		<string>ml_p_virama_ph_uu_sign.glif</string>
		<key>ml_p_virama_r</key>
		<string>ml_p_virama_r.glif</string>
		<key>ml_p_virama_r_u_sign</key>
		<string>ml_p_virama_r_u_sign.glif</string>
		<key>ml_p_virama_r_uu_sign</key>
		<string>ml_p_virama_r_uu_sign.glif</string>
		<key>ml_ph</key>
		<string>ml_ph.glif</string>
		<key>ml_ph_u_sign</key>
		<string>ml_ph_u_sign.glif</string>
		<key>ml_ph_uu_sign</key>
		<string>ml_ph_uu_sign.glif</string>
		<key>ml_ph_virama_l</key>
		<string>ml_ph_virama_l.glif</string>
		<key>ml_ph_virama_l_u_sign</key>
		<string>ml_ph_virama_l_u_sign.glif</string>
		<key>ml_ph_virama_l_uu_sign</key>
		<string>ml_ph_virama_l_uu_sign.glif</string>
		<key>ml_ph_virama_r</key>
		<string>ml_ph_virama_r.glif</string>
		<key>ml_ph_virama_r_u_sign</key>
		<string>ml_ph_virama_r_u_sign.glif</string>
		<key>ml_ph_virama_r_uu_sign</key>
		<string>ml_ph_virama_r_uu_sign.glif</string>
		<key>ml_r</key>
		<string>ml_r.glif</string>
		<key>ml_r_ru_sign</key>
		<string>ml_r_ru_sign.glif</string>
		<key>ml_r_u_sign</key>
		<string>ml_r_u_sign.glif</string>
		<key>ml_r_uu_sign</key>
		<string>ml_r_uu_sign.glif</string>
		<key>ml_reph</key>
		<string>ml_reph.glif</string>
		<key>ml_rh</key>
		<string>ml_rh.glif</string>
		<key>ml_rh___s_m_a_l_l</key>
		<string>ml_rh___s_m_a_l_l.glif</string>
		<key>ml_rh_u_sign</key>
		<string>ml_rh_u_sign.glif</string>
		<key>ml_rh_uu_sign</key>
		<string>ml_rh_uu_sign.glif</string>
		<key>ml_rh_virama_rh</key>
		<string>ml_rh_virama_rh.glif</string>
		<key>ml_rh_virama_rh_u_sign</key>
		<string>ml_rh_virama_rh_u_sign.glif</string>
		<key>ml_rh_virama_rh_uu_sign</key>
		<string>ml_rh_virama_rh_uu_sign.glif</string>
		<key>ml_rh_virama_rh_virama_r</key>
		<string>ml_rh_virama_rh_virama_r.glif</string>
		<key>ml_rh_virama_rh_virama_r_u_sign</key>
		<string>ml_rh_virama_rh_virama_r_u_sign.glif</string>
		<key>ml_rh_virama_rh_virama_r_uu_sign</key>
		<string>ml_rh_virama_rh_virama_r_uu_sign.glif</string>
		<key>ml_ru</key>
		<string>ml_ru.glif</string>
		<key>ml_ru_sign</key>
		<string>ml_ru_sign.glif</string>
		<key>ml_ru_sign___s_h_o_r_t</key>
		<string>ml_ru_sign___s_h_o_r_t.glif</string>
		<key>ml_ruu_sign</key>
		<string>ml_ruu_sign.glif</string>
		<key>ml_s</key>
		<string>ml_s.glif</string>
		<key>ml_s_ru_sign</key>
		<string>ml_s_ru_sign.glif</string>
		<key>ml_s_u_sign</key>
		<string>ml_s_u_sign.glif</string>
		<key>ml_s_uu_sign</key>
		<string>ml_s_uu_sign.glif</string>
		<key>ml_s_virama_p</key>
		<string>ml_s_virama_p.glif</string>
		<key>ml_s_virama_r</key>
		<string>ml_s_virama_r.glif</string>
		<key>ml_s_virama_r_u_sign</key>
		<string>ml_s_virama_r_u_sign.glif</string>
		<key>ml_s_virama_r_uu_sign</key>
		<string>ml_s_virama_r_uu_sign.glif</string>
		<key>ml_s_virama_s</key>
		<string>ml_s_virama_s.glif</string>
		<key>ml_s_virama_s_u_sign</key>
		<string>ml_s_virama_s_u_sign.glif</string>
		<key>ml_s_virama_s_uu_sign</key>
		<string>ml_s_virama_s_uu_sign.glif</string>
		<key>ml_s_virama_tth</key>
		<string>ml_s_virama_tth.glif</string>
		<key>ml_sh</key>
		<string>ml_sh.glif</string>
		<key>ml_sh_u_sign</key>
		<string>ml_sh_u_sign.glif</string>
		<key>ml_sh_uu_sign</key>
		<string>ml_sh_uu_sign.glif</string>
		<key>ml_sh_virama_r</key>
		<string>ml_sh_virama_r.glif</string>
		<key>ml_sh_virama_r_u_sign</key>
		<string>ml_sh_virama_r_u_sign.glif</string>
		<key>ml_sh_virama_r_uu_sign</key>
		<string>ml_sh_virama_r_uu_sign.glif</string>
		<key>ml_t</key>
		<string>ml_t.glif</string>
		<key>ml_t___s_m_a_l_l</key>
		<string>ml_t___s_m_a_l_l.glif</string>
		<key>ml_t_ru_sign</key>
		<string>ml_t_ru_sign.glif</string>
		<key>ml_t_u_sign</key>
		<string>ml_t_u_sign.glif</string>
		<key>ml_t_uu_sign</key>
		<string>ml_t_uu_sign.glif</string>
		<key>ml_t_virama_r</key>
		<string>ml_t_virama_r.glif</string>
		<key>ml_t_virama_r_u_sign</key>
		<string>ml_t_virama_r_u_sign.glif</string>
		<key>ml_t_virama_r_uu_sign</key>
		<string>ml_t_virama_r_uu_sign.glif</string>
		<key>ml_t_virama_t</key>
		<string>ml_t_virama_t.glif</string>
		<key>ml_t_virama_t_u_sign</key>
		<string>ml_t_virama_t_u_sign.glif</string>
		<key>ml_t_virama_t_uu_sign</key>
		<string>ml_t_virama_t_uu_sign.glif</string>
		<key>ml_th</key>
		<string>ml_th.glif</string>
		<key>ml_th___s_m_a_l_l</key>
		<string>ml_th___s_m_a_l_l.glif</string>
		<key>ml_th_ru_sign</key>
		<string>ml_th_ru_sign.glif</string>
		<key>ml_th_u_sign</key>
		<string>ml_th_u_sign.glif</string>
		<key>ml_th_uu_sign</key>
		<string>ml_th_uu_sign.glif</string>
		<key>ml_th_virama_bh</key>
		<string>ml_th_virama_bh.glif</string>
		<key>ml_th_virama_bh_u_sign</key>
		<string>ml_th_virama_bh_u_sign.glif</string>
		<key>ml_th_virama_m</key>
		<string>ml_th_virama_m.glif</string>
		<key>ml_th_virama_m_u_sign</key>
		<string>ml_th_virama_m_u_sign.glif</string>
		<key>ml_th_virama_m_uu_sign</key>
		<string>ml_th_virama_m_uu_sign.glif</string>
		<key>ml_th_virama_n</key>
		<string>ml_th_virama_n.glif</string>
		<key>ml_th_virama_n_u_sign</key>
		<string>ml_th_virama_n_u_sign.glif</string>
		<key>ml_th_virama_n_uu_sign</key>
		<string>ml_th_virama_n_uu_sign.glif</string>
		<key>ml_th_virama_r</key>
		<string>ml_th_virama_r.glif</string>
		<key>ml_th_virama_r_u_sign</key>
		<string>ml_th_virama_r_u_sign.glif</string>
		<key>ml_th_virama_r_uu_sign</key>
		<string>ml_th_virama_r_uu_sign.glif</string>
		<key>ml_th_virama_s</key>
		<string>ml_th_virama_s.glif</string>
		<key>ml_th_virama_s_ru_sign</key>
		<string>ml_th_virama_s_ru_sign.glif</string>
		<key>ml_th_virama_s_u_sign</key>
		<string>ml_th_virama_s_u_sign.glif</string>
		<key>ml_th_virama_s_uu_sign</key>
		<string>ml_th_virama_s_uu_sign.glif</string>
		<key>ml_th_virama_s_virama_r</key>
		<string>ml_th_virama_s_virama_r.glif</string>
		<key>ml_th_virama_th</key>
		<string>ml_th_virama_th.glif</string>
		<key>ml_th_virama_th_ru_sign</key>
		<string>ml_th_virama_th_ru_sign.glif</string>
		<key>ml_th_virama_th_u_sign</key>
		<string>ml_th_virama_th_u_sign.glif</string>
		<key>ml_th_virama_th_uu_sign</key>
		<string>ml_th_virama_th_uu_sign.glif</string>
		<key>ml_th_virama_th_virama_r</key>
		<string>ml_th_virama_th_virama_r.glif</string>
		<key>ml_th_virama_th_virama_r_u_sign</key>
		<string>ml_th_virama_th_virama_r_u_sign.glif</string>
		<key>ml_th_virama_th_virama_r_uu_sign</key>
		<string>ml_th_virama_th_virama_r_uu_sign.glif</string>
		<key>ml_th_virama_tth</key>
		<string>ml_th_virama_tth.glif</string>
		<key>ml_th_virama_tth_u_sign</key>
		<string>ml_th_virama_tth_u_sign.glif</string>
		<key>ml_th_virama_tth_uu_sign</key>
		<string>ml_th_virama_tth_uu_sign.glif</string>
		<key>ml_tt</key>
		<string>ml_tt.glif</string>
		<key>ml_tt_u_sign</key>
		<string>ml_tt_u_sign.glif</string>
		<key>ml_tt_uu_sign</key>
		<string>ml_tt_uu_sign.glif</string>
		<key>ml_tth</key>
		<string>ml_tth.glif</string>
		<key>ml_tth_u_sign</key>
		<string>ml_tth_u_sign.glif</string>
		<key>ml_tth_uu_sign</key>
		<string>ml_tth_uu_sign.glif</string>
		<key>ml_u</key>
		<string>ml_u.glif</string>
		<key>ml_u_sign</key>
		<string>ml_u_sign.glif</string>
		<key>ml_uu</key>
		<string>ml_uu.glif</string>
		<key>ml_uu_sign</key>
		<string>ml_uu_sign.glif</string>
		<key>ml_uu_sign___s_m_a_l_l</key>
		<string>ml_uu_sign___s_m_a_l_l.glif</string>
		<key>ml_v</key>
		<string>ml_v.glif</string>
		<key>ml_v_u_sign</key>
		<string>ml_v_u_sign.glif</string>
		<key>ml_v_uu_sign</key>
		<string>ml_v_uu_sign.glif</string>
		<key>ml_v_virama_r</key>
		<string>ml_v_virama_r.glif</string>
		<key>ml_v_virama_r_u_sign</key>
		<string>ml_v_virama_r_u_sign.glif</string>
		<key>ml_v_virama_r_uu_sign</key>
		<string>ml_v_virama_r_uu_sign.glif</string>
		<key>ml_v_virama_v</key>
		<string>ml_v_virama_v.glif</string>
		<key>ml_v_virama_v_u_sign</key>
		<string>ml_v_virama_v_u_sign.glif</string>
		<key>ml_v_virama_v_uu_sign</key>
		<string>ml_v_virama_v_uu_sign.glif</string>
		<key>ml_va_sign</key>
		<string>ml_va_sign.glif</string>
		<key>ml_virama</key>
		<string>ml_virama.glif</string>
		<key>ml_virama_ch</key>
		<string>ml_virama_ch.glif</string>
		<key>ml_virama_l</key>
		<string>ml_virama_l.glif</string>
		<key>ml_y</key>
		<string>ml_y.glif</string>
		<key>ml_y_u_sign</key>
		<string>ml_y_u_sign.glif</string>
		<key>ml_y_uu_sign</key>
		<string>ml_y_uu_sign.glif</string>
		<key>ml_y_virama_y</key>
		<string>ml_y_virama_y.glif</string>
		<key>ml_y_virama_y_u_sign</key>
		<string>ml_y_virama_y_u_sign.glif</string>
		<key>ml_y_virama_y_uu_sign</key>
		<string>ml_y_virama_y_uu_sign.glif</string>
		<key>ml_ya_sign</key>
		<string>ml_ya_sign.glif</string>
		<key>ml_z</key>
		<string>ml_z.glif</string>
		<key>ml_z_ru_sign</key>
		<string>ml_z_ru_sign.glif</string>
		<key>ml_z_u_sign</key>
		<string>ml_z_u_sign.glif</string>
		<key>ml_z_uu_sign</key>
		<string>ml_z_uu_sign.glif</string>
		<key>ml_z_virama_ch</key>
		<string>ml_z_virama_ch.glif</string>
		<key>ml_z_virama_ch_u_sign</key>
		<string>ml_z_virama_ch_u_sign.glif</string>
		<key>ml_z_virama_ch_uu_sign</key>
		<string>ml_z_virama_ch_uu_sign.glif</string>
		<key>ml_z_virama_r</key>
		<string>ml_z_virama_r.glif</string>
		<key>ml_z_virama_r_u_sign</key>
		<string>ml_z_virama_r_u_sign.glif</string>
		<key>ml_z_virama_r_uu_sign</key>
		<string>ml_z_virama_r_uu_sign.glif</string>
		<key>ml_z_virama_z</key>
		<string>ml_z_virama_z.glif</string>
		<key>ml_z_virama_z_u_sign</key>
		<string>ml_z_virama_z_u_sign.glif</string>
		<key>ml_z_virama_z_uu_sign</key>
		<string>ml_z_virama_z_uu_sign.glif</string>
		<key>ml_zh</key>
		<string>ml_zh.glif</string>
		<key>ml_zh_u_sign</key>
		<string>ml_zh_u_sign.glif</string>
		<key>ml_zh_uu_sign</key>
		<string>ml_zh_uu_sign.glif</string>
		<key>multiply</key>
		<string>multiply.glif</string>
		<key>n</key>
		<string>n.glif</string>
		<key>nacute</key>
		<string>nacute.glif</string>
		<key>ncaron</key>
		<string>ncaron.glif</string>
		<key>nine</key>
		<string>nine.glif</string>
		<key>nonmarkingreturn</key>
		<string>nonmarkingreturn.glif</string>
		<key>ntilde</key>
		<string>ntilde.glif</string>
		<key>numbersign</key>
		<string>numbersign.glif</string>
		<key>o</key>
		<string>o.glif</string>
		<key>oacute</key>
		<string>oacute.glif</string>
		<key>ocaron</key>
		<string>ocaron.glif</string>
		<key>ocircumflex</key>
		<string>ocircumflex.glif</string>
		<key>odieresis</key>
		<string>odieresis.glif</string>
		<key>oe</key>
		<string>oe.glif</string>
		<key>ograve</key>
		<string>ograve.glif</string>
		<key>omacron</key>
		<string>omacron.glif</string>
		<key>one</key>
		<string>one.glif</string>
		<key>oslash</key>
		<string>oslash.glif</string>
		<key>otilde</key>
		<string>otilde.glif</string>
		<key>p</key>
		<string>p.glif</string>
		<key>paragraph</key>
		<string>paragraph.glif</string>
		<key>parenleft</key>
		<string>parenleft.glif</string>
		<key>percent</key>
		<string>percent.glif</string>
		<key>period</key>
		<string>period.glif</string>
		<key>plus</key>
		<string>plus.glif</string>
		<key>pound</key>
		<string>pound.glif</string>
		<key>q</key>
		<string>q.glif</string>
		<key>question</key>
		<string>question.glif</string>
		<key>quotesingle</key>
		<string>quotesingle.glif</string>
		<key>r</key>
		<string>r.glif</string>
		<key>racute</key>
		<string>racute.glif</string>
		<key>rcaron</key>
		<string>rcaron.glif</string>
		<key>registered</key>
		<string>registered.glif</string>
		<key>ring</key>
		<string>ring.glif</string>
		<key>s</key>
		<string>s.glif</string>
		<key>sacute</key>
		<string>sacute.glif</string>
		<key>scaron</key>
		<string>scaron.glif</string>
		<key>scedilla</key>
		<string>scedilla.glif</string>
		<key>scircumflex</key>
		<string>scircumflex.glif</string>
		<key>semicolon</key>
		<string>semicolon.glif</string>
		<key>seven</key>
		<string>seven.glif</string>
		<key>six</key>
		<string>six.glif</string>
		<key>slash</key>
		<string>slash.glif</string>
		<key>space</key>
		<string>space.glif</string>
		<key>t</key>
		<string>t.glif</string>
		<key>th</key>
		<string>th.glif</string>
		<key>thorn</key>
		<string>thorn.glif</string>
		<key>three</key>
		<string>three.glif</string>
		<key>tilde</key>
		<string>tilde.glif</string>
		<key>tt</key>
		<string>tt.glif</string>
		<key>two</key>
		<string>two.glif</string>
		<key>u</key>
		<string>u.glif</string>
		<key>u_drop_sign</key>
		<string>u_drop_sign.glif</string>
		<key>uacute</key>
		<string>uacute.glif</string>
		<key>ucaron</key>
		<string>ucaron.glif</string>
		<key>ucircumflex</key>
		<string>ucircumflex.glif</string>
		<key>udieresis</key>
		<string>udieresis.glif</string>
		<key>ugrave</key>
		<string>ugrave.glif</string>
		<key>umacron</key>
		<string>umacron.glif</string>
		<key>underscore</key>
		<string>underscore.glif</string>
		<key>uni20A9</key>
		<string>uni20A_9.glif</string>
		<key>uni20B5</key>
		<string>uni20B_5.glif</string>
		<key>uni20B9</key>
		<string>uni20B_9.glif</string>
		<key>uni20BF</key>
		<string>uni20B_F_.glif</string>
		<key>uni3A9</key>
		<string>uni3A_9.glif</string>
		<key>uniD03</key>
		<string>uniD_03.glif</string>
		<key>uniD0C</key>
		<string>uniD_0C_.glif</string>
		<key>uniD29</key>
		<string>uniD_29.glif</string>
		<key>uniD3A</key>
		<string>uniD_3A_.glif</string>
		<key>uniD3D</key>
		<string>uniD_3D_.glif</string>
		<key>uniD4F</key>
		<string>uniD_4F_.glif</string>
		<key>uniD54</key>
		<string>uniD_54.glif</string>
		<key>uniD55</key>
		<string>uniD_55.glif</string>
		<key>uniD58</key>
		<string>uniD_58.glif</string>
		<key>uniD59</key>
		<string>uniD_59.glif</string>
		<key>uniD5A</key>
		<string>uniD_5A_.glif</string>
		<key>uniD5C</key>
		<string>uniD_5C_.glif</string>
		<key>uniD5D</key>
		<string>uniD_5D_.glif</string>
		<key>uniD5E</key>
		<string>uniD_5E_.glif</string>
		<key>uniD60</key>
		<string>uniD_60.glif</string>
		<key>uniD61</key>
		<string>uniD_61.glif</string>
		<key>uniD63</key>
		<string>uniD_63.glif</string>
		<key>uniD66</key>
		<string>uniD_66.glif</string>
		<key>uniD67</key>
		<string>uniD_67.glif</string>
		<key>uniD68</key>
		<string>uniD_68.glif</string>
		<key>uniD69</key>
		<string>uniD_69.glif</string>
		<key>uniD6A</key>
		<string>uniD_6A_.glif</string>
		<key>uniD6B</key>
		<string>uniD_6B_.glif</string>
		<key>uniD6C</key>
		<string>uniD_6C_.glif</string>
		<key>uniD6D</key>
		<string>uniD_6D_.glif</string>
		<key>uniD6E</key>
		<string>uniD_6E_.glif</string>
		<key>uniD6F</key>
		<string>uniD_6F_.glif</string>
		<key>uniD70</key>
		<string>uniD_70.glif</string>
		<key>uniD71</key>
		<string>uniD_71.glif</string>
		<key>uniD73</key>
		<string>uniD_73.glif</string>
		<key>uniD74</key>
		<string>uniD_74.glif</string>
		<key>uniD75</key>
		<string>uniD_75.glif</string>
		<key>uniD76</key>
		<string>uniD_76.glif</string>
		<key>uniD77</key>
		<string>uniD_77.glif</string>
		<key>uniD78</key>
		<string>uniD_78.glif</string>
		<key>uniD79</key>
		<string>uniD_79.glif</string>
		<key>uring</key>
		<string>uring.glif</string>
		<key>utilde</key>
		<string>utilde.glif</string>
		<key>uu_drop_sign</key>
		<string>uu_drop_sign.glif</string>
		<key>v</key>
		<string>v.glif</string>
		<key>w</key>
		<string>w.glif</string>
		<key>wcircumflex</key>
		<string>wcircumflex.glif</string>
		<key>x</key>
		<string>x.glif</string>
		<key>y</key>
		<string>y.glif</string>
		<key>yacute</key>
		<string>yacute.glif</string>
		<key>ycircumflex</key>
		<string>ycircumflex.glif</string>
		<key>ydieresis</key>
		<string>ydieresis.glif</string>
		<key>yen</key>
		<string>yen.glif</string>
		<key>z</key>
		<string>z.glif</string>
		<key>zacute</key>
		<string>zacute.glif</string>
		<key>zcaron</key>
		<string>zcaron.glif</string>
		<key>zdotaccent</key>
		<string>zdotaccent.glif</string>
		<key>zero</key>
		<string>zero.glif</string>
		<key>zwj</key>
		<string>zwj.glif</string>
	</dict>
</plist>
