<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>public.glyphOrder</key>
		<array>
			<string>.null</string>
			<string>nonmarkingreturn</string>
			<string>.notdef</string>
			<string>space</string>
			<string>zero</string>
			<string>one</string>
			<string>two</string>
			<string>three</string>
			<string>four</string>
			<string>five</string>
			<string>six</string>
			<string>seven</string>
			<string>eight</string>
			<string>nine</string>
			<string>A</string>
			<string>AE</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>Dotless_i</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>I</string>
			<string>J</string>
			<string>K</string>
			<string>L</string>
			<string>M</string>
			<string>N</string>
			<string>O</string>
			<string>OE_capital</string>
			<string>Oslash</string>
			<string>P</string>
			<string>Q</string>
			<string>R</string>
			<string>S</string>
			<string>T</string>
			<string>Thorn_capital</string>
			<string>U</string>
			<string>V</string>
			<string>W</string>
			<string>X</string>
			<string>Y</string>
			<string>Z</string>
			<string>a</string>
			<string>acute</string>
			<string>ae</string>
			<string>ampersand</string>
			<string>asterisk</string>
			<string>at</string>
			<string>b</string>
			<string>bar</string>
			<string>braceleft</string>
			<string>bracketleft</string>
			<string>bullet</string>
			<string>c</string>
			<string>caret</string>
			<string>caron</string>
			<string>cedilla</string>
			<string>colon</string>
			<string>comma</string>
			<string>copyright</string>
			<string>d</string>
			<string>degree</string>
			<string>dieresis</string>
			<string>divisionsign</string>
			<string>dollar</string>
			<string>dotaccent</string>
			<string>e</string>
			<string>ee</string>
			<string>emdash</string>
			<string>endash</string>
			<string>equal</string>
			<string>euro</string>
			<string>exclam</string>
			<string>f</string>
			<string>ff</string>
			<string>ffi</string>
			<string>fi</string>
			<string>ft</string>
			<string>g</string>
			<string>grave</string>
			<string>h</string>
			<string>i</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>less</string>
			<string>m</string>
			<string>macron</string>
			<string>multiply</string>
			<string>n</string>
			<string>numbersign</string>
			<string>o</string>
			<string>oe</string>
			<string>oslash</string>
			<string>p</string>
			<string>paragraph</string>
			<string>parenleft</string>
			<string>percent</string>
			<string>period</string>
			<string>plus</string>
			<string>pound</string>
			<string>q</string>
			<string>question</string>
			<string>quotesingle</string>
			<string>r</string>
			<string>registered</string>
			<string>ring</string>
			<string>ru_bottom_sign</string>
			<string>s</string>
			<string>semicolon</string>
			<string>slash</string>
			<string>t</string>
			<string>th</string>
			<string>thorn</string>
			<string>tilde</string>
			<string>tt</string>
			<string>u</string>
			<string>u_drop_sign</string>
			<string>underscore</string>
			<string>uu_drop_sign</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>yen</string>
			<string>z</string>
			<string>Eth</string>
			<string>germandbls</string>
			<string>eth</string>
			<string>uni3A9</string>
			<string>ml_anusvara</string>
			<string>ml_visarga</string>
			<string>ml_a</string>
			<string>ml_aa</string>
			<string>ml_i</string>
			<string>ml_u</string>
			<string>ml_vocalic_r</string>
			<string>ml_vocalic_l</string>
			<string>ml_e</string>
			<string>ml_ee</string>
			<string>ml_o</string>
			<string>ml_ka</string>
			<string>ml_ka_sign_u</string>
			<string>ml_ka_sign_uu</string>
			<string>ml_ka_sign_vocalic_r</string>
			<string>ml_ka_virama_ka</string>
			<string>ml_ka_virama_ka_sign_u</string>
			<string>ml_ka_virama_ka_sign_uu</string>
			<string>ml_ka_virama_ka_sign_vocalic_r</string>
			<string>ml_ka_virama_ka_virama_ra</string>
			<string>ml_ka_virama_ta</string>
			<string>ml_ka_virama_ta_sign_u</string>
			<string>ml_ka_virama_ta_sign_uu</string>
			<string>ml_ka_virama_ta_sign_vocalic_r</string>
			<string>ml_ka_virama_ta_virama_ra</string>
			<string>ml_ka_virama_ra</string>
			<string>ml_ka_virama_ssa</string>
			<string>ml_kha</string>
			<string>ml_kha_sign_vocalic_r</string>
			<string>ml_ga</string>
			<string>ml_ga_sign_u</string>
			<string>ml_ga_sign_uu</string>
			<string>ml_ga_sign_vocalic_r</string>
			<string>ml_ga_virama_ga</string>
			<string>ml_ga_virama_ga_sign_u</string>
			<string>ml_ga_virama_ga_sign_uu</string>
			<string>ml_ga_virama_da</string>
			<string>ml_ga_virama_da_sign_vocalic_r</string>
			<string>ml_ga_virama_da_virama_dha</string>
			<string>ml_ga_virama_na</string>
			<string>ml_ga_virama_na_sign_u</string>
			<string>ml_ga_virama_na_sign_uu</string>
			<string>ml_ga_virama_ma</string>
			<string>ml_ga_virama_ra</string>
			<string>ml_gha</string>
			<string>ml_gha_virama_ra</string>
			<string>ml_nga</string>
			<string>ml_nga_virama_ka</string>
			<string>ml_nga_virama_ka_sign_u</string>
			<string>ml_nga_virama_ka_sign_uu</string>
			<string>ml_nga_virama_ka_sign_vocalic_r</string>
			<string>ml_nga_virama_ka_virama_ra</string>
			<string>ml_nga_virama_nga</string>
			<string>ml_ca</string>
			<string>ml_ca_sign_vocalic_r</string>
			<string>ml_ca_virama_ca</string>
			<string>ml_ca_virama_cha</string>
			<string>ml_cha</string>
			<string>ml_cha_sign_u</string>
			<string>ml_cha_sign_uu</string>
			<string>ml_cha_sign_vocalic_r</string>
			<string>ml_cha_virama_ra</string>
			<string>ml_ja</string>
			<string>ml_ja_sign_u</string>
			<string>ml_ja_sign_uu</string>
			<string>ml_ja_sign_vocalic_r</string>
			<string>ml_ja_virama_ja</string>
			<string>ml_ja_virama_ja_sign_u</string>
			<string>ml_ja_virama_ja_sign_uu</string>
			<string>ml_ja_virama_ja_sign_vocalic_r</string>
			<string>ml_ja_virama_nya</string>
			<string>ml_ja_virama_ra</string>
			<string>ml_jha</string>
			<string>ml_jha_sign_vocalic_r</string>
			<string>ml_nya</string>
			<string>ml_nya_virama_ca</string>
			<string>ml_nya_virama_ja</string>
			<string>ml_nya_virama_ja_sign_u</string>
			<string>ml_nya_virama_ja_sign_uu</string>
			<string>ml_nya_virama_nya</string>
			<string>ml_tta</string>
			<string>ml_tta_small</string>
			<string>ml_tta_sign_vocalic_r</string>
			<string>ml_tta_virama_tta</string>
			<string>ml_tta_virama_ra</string>
			<string>ml_ttha</string>
			<string>ml_dda</string>
			<string>ml_dda_sign_vocalic_r</string>
			<string>ml_dda_virama_ra</string>
			<string>ml_ddha</string>
			<string>ml_ddha_sign_vocalic_r</string>
			<string>ml_ddha_virama_ra</string>
			<string>ml_nna</string>
			<string>ml_nna_sign_u</string>
			<string>ml_nna_sign_uu</string>
			<string>ml_nna_virama_tta</string>
			<string>ml_nna_virama_tta_virama_ra</string>
			<string>ml_nna_virama_dda</string>
			<string>ml_nna_virama_dda_sign_vocalic_r</string>
			<string>ml_nna_virama_dda_virama_ra</string>
			<string>ml_nna_virama_nna</string>
			<string>ml_nna_virama_nna_sign_u</string>
			<string>ml_nna_virama_nna_sign_uu</string>
			<string>ml_nna_virama_ma</string>
			<string>ml_ta</string>
			<string>ml_ta_small</string>
			<string>ml_ta_sign_u</string>
			<string>ml_ta_sign_uu</string>
			<string>ml_ta_sign_vocalic_r</string>
			<string>ml_ta_virama_ta</string>
			<string>ml_ta_virama_ta_sign_u</string>
			<string>ml_ta_virama_ta_sign_uu</string>
			<string>ml_ta_virama_ta_sign_vocalic_r</string>
			<string>ml_ta_virama_ta_virama_ra</string>
			<string>ml_ta_virama_tha</string>
			<string>ml_ta_virama_na</string>
			<string>ml_ta_virama_bha</string>
			<string>ml_ta_virama_bha_sign_u</string>
			<string>ml_ta_virama_ma</string>
			<string>ml_ta_virama_ra</string>
			<string>ml_ta_virama_sa</string>
			<string>ml_ta_virama_sa_sign_vocalic_r</string>
			<string>ml_ta_virama_sa_virama_ra</string>
			<string>ml_tha</string>
			<string>ml_da</string>
			<string>ml_da_small</string>
			<string>ml_da_sign_vocalic_r</string>
			<string>ml_da_virama_da</string>
			<string>ml_da_virama_dha</string>
			<string>ml_da_virama_ra</string>
			<string>ml_dha</string>
			<string>ml_dha_sign_vocalic_r</string>
			<string>ml_dha_virama_ra</string>
			<string>ml_na</string>
			<string>ml_na_small</string>
			<string>ml_na_sign_u</string>
			<string>ml_na_sign_uu</string>
			<string>ml_na_sign_vocalic_r</string>
			<string>ml_na_virama_ta</string>
			<string>ml_na_virama_ta_sign_u</string>
			<string>ml_na_virama_ta_sign_uu</string>
			<string>ml_na_virama_ta_sign_vocalic_r</string>
			<string>ml_na_virama_ta_virama_ra</string>
			<string>ml_na_virama_tha</string>
			<string>ml_na_virama_da</string>
			<string>ml_na_virama_da_sign_vocalic_r</string>
			<string>ml_na_virama_da_virama_ra</string>
			<string>ml_na_virama_dha</string>
			<string>ml_na_virama_dha_virama_ra</string>
			<string>ml_na_virama_na</string>
			<string>ml_na_virama_na_sign_u</string>
			<string>ml_na_virama_na_sign_uu</string>
			<string>ml_na_virama_na_sign_vocalic_r</string>
			<string>ml_na_virama_ma</string>
			<string>ml_na_virama_rra</string>
			<string>ml_na_virama_rra_alt</string>
			<string>ml_nnna</string>
			<string>ml_pa</string>
			<string>ml_pa_sign_vocalic_r</string>
			<string>ml_pa_virama_pa</string>
			<string>ml_pa_virama_pha</string>
			<string>ml_pa_virama_ra</string>
			<string>ml_pha</string>
			<string>ml_pha_virama_ra</string>
			<string>ml_ba</string>
			<string>ml_ba_sign_vocalic_r</string>
			<string>ml_ba_virama_da</string>
			<string>ml_ba_virama_ba</string>
			<string>ml_ba_virama_ra</string>
			<string>ml_bha</string>
			<string>ml_bha_sign_u</string>
			<string>ml_bha_sign_uu</string>
			<string>ml_bha_sign_vocalic_r</string>
			<string>ml_bha_virama_ra</string>
			<string>ml_ma</string>
			<string>ml_ma_sign_vocalic_r</string>
			<string>ml_ma_virama_pa</string>
			<string>ml_ma_virama_pa_virama_ra</string>
			<string>ml_ma_virama_ma</string>
			<string>ml_ma_virama_ra</string>
			<string>ml_ya</string>
			<string>ml_ya_virama_ya</string>
			<string>ml_ra</string>
			<string>ml_ra_sign_u</string>
			<string>ml_ra_sign_uu</string>
			<string>ml_ra_sign_vocalic_r</string>
			<string>ml_rra</string>
			<string>ml_rra_small</string>
			<string>ml_rra_virama_rra</string>
			<string>ml_rra_virama_rra_virama_ra</string>
			<string>ml_la</string>
			<string>ml_la_virama_pa</string>
			<string>ml_la_virama_la</string>
			<string>ml_lla</string>
			<string>ml_lla_virama_lla</string>
			<string>ml_llla</string>
			<string>ml_va</string>
			<string>ml_va_sign_vocalic_r</string>
			<string>ml_va_virama_ra</string>
			<string>ml_va_virama_va</string>
			<string>ml_sha</string>
			<string>ml_sha_sign_u</string>
			<string>ml_sha_sign_uu</string>
			<string>ml_sha_sign_vocalic_r</string>
			<string>ml_sha_virama_ca</string>
			<string>ml_sha_virama_ra</string>
			<string>ml_sha_virama_sha</string>
			<string>ml_sha_virama_sha_sign_u</string>
			<string>ml_sha_virama_sha_sign_uu</string>
			<string>ml_ssa</string>
			<string>ml_ssa_virama_ra</string>
			<string>ml_sa</string>
			<string>ml_sa_sign_vocalic_r</string>
			<string>ml_sa_virama_tha</string>
			<string>ml_sa_virama_pa</string>
			<string>ml_sa_virama_ra</string>
			<string>ml_sa_virama_sa</string>
			<string>ml_ha</string>
			<string>ml_ha_sign_u</string>
			<string>ml_ha_sign_uu</string>
			<string>ml_ha_sign_vocalic_r</string>
			<string>ml_ha_virama_na</string>
			<string>ml_ha_virama_na_sign_u</string>
			<string>ml_ha_virama_na_sign_uu</string>
			<string>ml_ha_virama_ma</string>
			<string>ml_ha_virama_ra</string>
			<string>ml_ttta</string>
			<string>ml_avagraha</string>
			<string>ml_sign_aa</string>
			<string>ml_sign_i</string>
			<string>ml_sign_ii</string>
			<string>ml_sign_u</string>
			<string>ml_sign_uu</string>
			<string>ml_sign_uu_small</string>
			<string>ml_sign_vocalic_r</string>
			<string>ml_sign_vocalic_rr</string>
			<string>ml_sign_e</string>
			<string>ml_sign_ee</string>
			<string>ml_virama</string>
			<string>ml_virama_ca</string>
			<string>ml_virama_ya</string>
			<string>ml_virama_ra</string>
			<string>ml_virama_la</string>
			<string>ml_virama_va</string>
			<string>ml_dot_reph</string>
			<string>ml_para</string>
			<string>ml_chillu_m</string>
			<string>ml_chillu_y</string>
			<string>ml_chillu_lll</string>
			<string>ml_au_length_mark</string>
			<string>ml_fraction_one_one-hundred-and-sixtieth</string>
			<string>ml_fraction_one_fortieth</string>
			<string>ml_fraction_three_eightieths</string>
			<string>ml_fraction_one_tenth</string>
			<string>ml_fraction_three_twentieths</string>
			<string>ml_fraction_one_fifth</string>
			<string>ml_vocalic_rr</string>
			<string>ml_vocalic_ll</string>
			<string>ml_sign_vocalic_l</string>
			<string>ml_sign_vocalic_ll</string>
			<string>ml_digit_zero</string>
			<string>ml_digit_one</string>
			<string>ml_digit_two</string>
			<string>ml_digit_three</string>
			<string>ml_digit_four</string>
			<string>ml_digit_five</string>
			<string>ml_digit_six</string>
			<string>ml_digit_seven</string>
			<string>ml_digit_eight</string>
			<string>ml_digit_nine</string>
			<string>ml_number_ten</string>
			<string>ml_number_one_hundred</string>
			<string>ml_fraction_one_quarter</string>
			<string>ml_fraction_one_half</string>
			<string>ml_fraction_three_quarters</string>
			<string>ml_fraction_one_sixteenth</string>
			<string>ml_fraction_one_eighth</string>
			<string>ml_fraction_three_sixteenths</string>
			<string>ml_date_mark</string>
			<string>ml_chillu_nn</string>
			<string>ml_chillu_n</string>
			<string>ml_chillu_rr</string>
			<string>ml_chillu_l</string>
			<string>ml_chillu_ll</string>
			<string>ml_chillu_k</string>
			<string>uni20A9</string>
			<string>uni20B5</string>
			<string>uni20B9</string>
			<string>uni20BF</string>
			<string>zwnj</string>
			<string>zwj</string>
			<string>aacute</string>
			<string>cacute</string>
			<string>eacute</string>
			<string>iacute</string>
			<string>nacute</string>
			<string>oacute</string>
			<string>racute</string>
			<string>sacute</string>
			<string>uacute</string>
			<string>yacute</string>
			<string>zacute</string>
			<string>Aacute</string>
			<string>Cacute</string>
			<string>Eacute</string>
			<string>Iacute</string>
			<string>Nacute</string>
			<string>Oacute</string>
			<string>Racute</string>
			<string>Sacute</string>
			<string>Uacute</string>
			<string>Yacute</string>
			<string>ccedilla</string>
			<string>scedilla</string>
			<string>Ccedilla</string>
			<string>Scedilla</string>
			<string>aring</string>
			<string>uring</string>
			<string>Aring</string>
			<string>Uring</string>
			<string>amacron</string>
			<string>emacron</string>
			<string>imacron</string>
			<string>omacron</string>
			<string>umacron</string>
			<string>Amacron</string>
			<string>Emacron</string>
			<string>Imacron</string>
			<string>Omacron</string>
			<string>Umacron</string>
			<string>agrave</string>
			<string>egrave</string>
			<string>igrave</string>
			<string>ograve</string>
			<string>ugrave</string>
			<string>Agrave</string>
			<string>Egrave</string>
			<string>Igrave</string>
			<string>Ograve</string>
			<string>Ugrave</string>
			<string>ccaron</string>
			<string>ecaron</string>
			<string>ncaron</string>
			<string>rcaron</string>
			<string>scaron</string>
			<string>zcaron</string>
			<string>Ccaron</string>
			<string>Dcaron</string>
			<string>Ecaron</string>
			<string>Ncaron</string>
			<string>Rcaron</string>
			<string>Scaron</string>
			<string>Zcaron</string>
			<string>adieresis</string>
			<string>edieresis</string>
			<string>idieresis</string>
			<string>odieresis</string>
			<string>udieresis</string>
			<string>ydieresis</string>
			<string>Adieresis</string>
			<string>Edieresis</string>
			<string>Idieresis</string>
			<string>Odieresis</string>
			<string>Udieresis</string>
			<string>cdotaccent</string>
			<string>edotaccent</string>
			<string>gdotaccent</string>
			<string>zdotaccent</string>
			<string>Cdotaccent</string>
			<string>Edotaccent</string>
			<string>Gdotaccent</string>
			<string>Zdotaccent</string>
			<string>atilde</string>
			<string>itilde</string>
			<string>ntilde</string>
			<string>otilde</string>
			<string>utilde</string>
			<string>Atilde</string>
			<string>Itilde</string>
			<string>Ntilde</string>
			<string>Otilde</string>
			<string>Utilde</string>
			<string>ml_ii</string>
			<string>ml_uu</string>
			<string>ml_oo</string>
			<string>ml_au</string>
			<string>ml_ai</string>
			<string>ml_sign_o</string>
			<string>ml_sign_oo</string>
			<string>ml_sign_ai</string>
			<string>ml_sign_au</string>
			<string>ml_ka_sign_vocalic_l</string>
			<string>ml_ka_virama_la</string>
			<string>ml_ga_virama_la</string>
			<string>ml_ta_virama_la</string>
			<string>ml_pa_virama_la</string>
			<string>ml_pha_virama_la</string>
			<string>ml_ba_virama_la</string>
			<string>ml_ma_virama_la</string>
			<string>ml_va_virama_la</string>
			<string>ml_sha_virama_la</string>
			<string>ml_sa_virama_la</string>
			<string>ml_ha_virama_la</string>
			<string>ml_kha_sign_u</string>
			<string>ml_kha_sign_uu</string>
			<string>ml_gha_sign_u</string>
			<string>ml_gha_sign_uu</string>
			<string>ml_nga_sign_u</string>
			<string>ml_nga_sign_uu</string>
			<string>ml_ca_sign_u</string>
			<string>ml_ca_sign_uu</string>
			<string>ml_jha_sign_u</string>
			<string>ml_jha_sign_uu</string>
			<string>ml_nya_sign_u</string>
			<string>ml_nya_sign_uu</string>
			<string>ml_tta_sign_u</string>
			<string>ml_tta_sign_uu</string>
			<string>ml_ttha_sign_u</string>
			<string>ml_ttha_sign_uu</string>
			<string>ml_dda_sign_u</string>
			<string>ml_dda_sign_uu</string>
			<string>ml_ddha_sign_u</string>
			<string>ml_ddha_sign_uu</string>
			<string>ml_tha_sign_u</string>
			<string>ml_tha_sign_uu</string>
			<string>ml_da_sign_u</string>
			<string>ml_da_sign_uu</string>
			<string>ml_dha_sign_u</string>
			<string>ml_dha_sign_uu</string>
			<string>ml_pa_sign_u</string>
			<string>ml_pa_sign_uu</string>
			<string>ml_pha_sign_u</string>
			<string>ml_pha_sign_uu</string>
			<string>ml_ba_sign_u</string>
			<string>ml_ba_sign_uu</string>
			<string>ml_ma_sign_u</string>
			<string>ml_ma_sign_uu</string>
			<string>ml_ya_sign_u</string>
			<string>ml_ya_sign_uu</string>
			<string>ml_la_sign_u</string>
			<string>ml_la_sign_uu</string>
			<string>ml_va_sign_u</string>
			<string>ml_va_sign_uu</string>
			<string>ml_rra_sign_u</string>
			<string>ml_rra_sign_uu</string>
			<string>ml_ssa_sign_u</string>
			<string>ml_ssa_sign_uu</string>
			<string>ml_sa_sign_u</string>
			<string>ml_sa_sign_uu</string>
			<string>ml_lla_sign_u</string>
			<string>ml_lla_sign_uu</string>
			<string>ml_llla_sign_u</string>
			<string>ml_llla_sign_uu</string>
			<string>ml_ka_virama_ssa_sign_u</string>
			<string>ml_ka_virama_ssa_sign_uu</string>
			<string>ml_ga_virama_da_sign_u</string>
			<string>ml_ga_virama_da_sign_uu</string>
			<string>ml_ga_virama_da_virama_dha_sign_u</string>
			<string>ml_ga_virama_da_virama_dha_sign_uu</string>
			<string>ml_ga_virama_ma_sign_u</string>
			<string>ml_ga_virama_ma_sign_uu</string>
			<string>ml_nga_virama_nga_sign_u</string>
			<string>ml_nga_virama_nga_sign_uu</string>
			<string>ml_ca_virama_ca_sign_u</string>
			<string>ml_ca_virama_ca_sign_uu</string>
			<string>ml_ca_virama_cha_sign_u</string>
			<string>ml_ca_virama_cha_sign_uu</string>
			<string>ml_nya_virama_ca_sign_u</string>
			<string>ml_nya_virama_ca_sign_uu</string>
			<string>ml_ja_virama_nya_sign_u</string>
			<string>ml_ja_virama_nya_sign_uu</string>
			<string>ml_nya_virama_nya_sign_u</string>
			<string>ml_nya_virama_nya_sign_uu</string>
			<string>ml_tta_virama_tta_sign_u</string>
			<string>ml_tta_virama_tta_sign_uu</string>
			<string>ml_nna_virama_dda_sign_u</string>
			<string>ml_nna_virama_dda_sign_uu</string>
			<string>ml_nna_virama_tta_sign_u</string>
			<string>ml_nna_virama_tta_sign_uu</string>
			<string>ml_nna_virama_ma_sign_u</string>
			<string>ml_nna_virama_ma_sign_uu</string>
			<string>ml_ta_virama_tha_sign_u</string>
			<string>ml_ta_virama_tha_sign_uu</string>
			<string>ml_ta_virama_na_sign_u</string>
			<string>ml_ta_virama_na_sign_uu</string>
			<string>ml_ta_virama_bha_sign_uu</string>
			<string>ml_da_virama_da_sign_u</string>
			<string>ml_da_virama_da_sign_uu</string>
			<string>ml_ta_virama_sa_sign_u</string>
			<string>ml_ta_virama_sa_sign_uu</string>
			<string>ml_ta_virama_ma_sign_u</string>
			<string>ml_ta_virama_ma_sign_uu</string>
			<string>ml_na_virama_da_sign_u</string>
			<string>ml_na_virama_da_sign_uu</string>
			<string>ml_na_virama_dha_sign_u</string>
			<string>ml_na_virama_dha_sign_uu</string>
			<string>ml_na_virama_ma_sign_u</string>
			<string>ml_na_virama_ma_sign_uu</string>
			<string>ml_na_virama_rra_sign_u</string>
			<string>ml_na_virama_rra_sign_uu</string>
			<string>ml_pa_virama_pa_sign_u</string>
			<string>ml_pa_virama_pa_sign_uu</string>
			<string>ml_pa_virama_pha_sign_u</string>
			<string>ml_pa_virama_pha_sign_uu</string>
			<string>ml_ba_virama_ba_sign_u</string>
			<string>ml_ba_virama_ba_sign_uu</string>
			<string>ml_ma_virama_ma_sign_u</string>
			<string>ml_ma_virama_ma_sign_uu</string>
			<string>ml_ma_virama_pa_sign_u</string>
			<string>ml_ma_virama_pa_sign_uu</string>
			<string>ml_ya_virama_ya_sign_u</string>
			<string>ml_ya_virama_ya_sign_uu</string>
			<string>ml_la_virama_la_sign_u</string>
			<string>ml_la_virama_la_sign_uu</string>
			<string>ml_va_virama_va_sign_u</string>
			<string>ml_va_virama_va_sign_uu</string>
			<string>ml_sha_virama_ca_sign_u</string>
			<string>ml_sha_virama_ca_sign_uu</string>
			<string>ml_sa_virama_sa_sign_u</string>
			<string>ml_sa_virama_sa_sign_uu</string>
			<string>ml_sa_virama_tha_sign_u</string>
			<string>ml_sa_virama_tha_sign_uu</string>
			<string>ml_ha_virama_ma_sign_u</string>
			<string>ml_ha_virama_ma_sign_uu</string>
			<string>ml_lla_virama_lla_sign_u</string>
			<string>ml_lla_virama_lla_sign_uu</string>
			<string>ml_rra_virama_rra_sign_u</string>
			<string>ml_rra_virama_rra_sign_uu</string>
			<string>ml_ka_virama_la_sign_u</string>
			<string>ml_ka_virama_la_sign_uu</string>
			<string>ml_ga_virama_la_sign_u</string>
			<string>ml_ga_virama_la_sign_uu</string>
			<string>ml_ta_virama_la_sign_u</string>
			<string>ml_ta_virama_la_sign_uu</string>
			<string>ml_pa_virama_la_sign_u</string>
			<string>ml_pa_virama_la_sign_uu</string>
			<string>ml_pha_virama_la_sign_u</string>
			<string>ml_pha_virama_la_sign_uu</string>
			<string>ml_ba_virama_la_sign_u</string>
			<string>ml_ba_virama_la_sign_uu</string>
			<string>ml_ma_virama_la_sign_u</string>
			<string>ml_ma_virama_la_sign_uu</string>
			<string>ml_va_virama_la_sign_u</string>
			<string>ml_va_virama_la_sign_uu</string>
			<string>ml_sa_virama_la_sign_u</string>
			<string>ml_sa_virama_la_sign_uu</string>
			<string>ml_sha_virama_la_sign_u</string>
			<string>ml_sha_virama_la_sign_uu</string>
			<string>ml_ha_virama_la_sign_u</string>
			<string>ml_ha_virama_la_sign_uu</string>
			<string>ml_ka_virama_ra_sign_u</string>
			<string>ml_ka_virama_ra_sign_uu</string>
			<string>ml_ka_virama_ka_virama_ra_sign_u</string>
			<string>ml_ka_virama_ka_virama_ra_sign_uu</string>
			<string>ml_ka_virama_ta_virama_ra_sign_u</string>
			<string>ml_ka_virama_ta_virama_ra_sign_uu</string>
			<string>ml_ga_virama_ra_sign_u</string>
			<string>ml_ga_virama_ra_sign_uu</string>
			<string>ml_gha_virama_ra_sign_u</string>
			<string>ml_gha_virama_ra_sign_uu</string>
			<string>ml_nga_virama_ka_virama_ra_sign_u</string>
			<string>ml_nga_virama_ka_virama_ra_sign_uu</string>
			<string>ml_ja_virama_ra_sign_u</string>
			<string>ml_ja_virama_ra_sign_uu</string>
			<string>ml_tta_virama_ra_sign_u</string>
			<string>ml_tta_virama_ra_sign_uu</string>
			<string>ml_dda_virama_ra_sign_u</string>
			<string>ml_dda_virama_ra_sign_uu</string>
			<string>ml_ddha_virama_ra_sign_u</string>
			<string>ml_ddha_virama_ra_sign_uu</string>
			<string>ml_nna_virama_tta_virama_ra_sign_u</string>
			<string>ml_nna_virama_tta_virama_ra_sign_uu</string>
			<string>ml_ta_virama_ra_sign_u</string>
			<string>ml_ta_virama_ra_sign_uu</string>
			<string>ml_ta_virama_ta_virama_ra_sign_u</string>
			<string>ml_ta_virama_ta_virama_ra_sign_uu</string>
			<string>ml_ta_virama_sa_virama_ra_sign_u</string>
			<string>ml_ta_virama_sa_virama_ra_sign_uu</string>
			<string>ml_da_virama_ra_sign_u</string>
			<string>ml_da_virama_ra_sign_uu</string>
			<string>ml_dha_virama_ra_sign_u</string>
			<string>ml_dha_virama_ra_sign_uu</string>
			<string>ml_na_virama_ta_virama_ra_sign_u</string>
			<string>ml_na_virama_ta_virama_ra_sign_uu</string>
			<string>ml_na_virama_da_virama_ra_sign_u</string>
			<string>ml_na_virama_da_virama_ra_sign_uu</string>
			<string>ml_na_virama_dha_virama_ra_sign_u</string>
			<string>ml_na_virama_dha_virama_ra_sign_uu</string>
			<string>ml_pa_virama_ra_sign_u</string>
			<string>ml_pa_virama_ra_sign_uu</string>
			<string>ml_pha_virama_ra_sign_u</string>
			<string>ml_pha_virama_ra_sign_uu</string>
			<string>ml_ba_virama_ra_sign_u</string>
			<string>ml_ba_virama_ra_sign_uu</string>
			<string>ml_bha_virama_ra_sign_u</string>
			<string>ml_bha_virama_ra_sign_uu</string>
			<string>ml_ma_virama_ra_sign_u</string>
			<string>ml_ma_virama_ra_sign_uu</string>
			<string>ml_ma_virama_pa_virama_ra_sign_u</string>
			<string>ml_ma_virama_pa_virama_ra_sign_uu</string>
			<string>ml_va_virama_ra_sign_u</string>
			<string>ml_va_virama_ra_sign_uu</string>
			<string>ml_sha_virama_ra_sign_u</string>
			<string>ml_sha_virama_ra_sign_uu</string>
			<string>ml_sa_virama_ra_sign_u</string>
			<string>ml_sa_virama_ra_sign_uu</string>
			<string>ml_ha_virama_ra_sign_u</string>
			<string>ml_ha_virama_ra_sign_uu</string>
			<string>ml_ssa_virama_ra_sign_u</string>
			<string>ml_ssa_virama_ra_sign_uu</string>
			<string>ml_rra_virama_rra_virama_ra_sign_u</string>
			<string>ml_rra_virama_rra_virama_ra_sign_uu</string>
		</array>
	</dict>
</plist>
